/*
 * Copyright 2022 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.basicDetails {
  padding: var(--spacing-10) var(--spacing-11) !important;
  &.gitBasicDetails {
    padding: var(--spacing-10) 0 var(--spacing-10) var(--spacing-10) !important;
    width: 800px !important;

    .gitFormWrapper {
      padding-right: var(--spacing-10) !important;
      height: 460px !important;
      overflow-y: auto;
      scroll-behavior: smooth;

      .gitFormFieldWidth,
      .nameIdDescriptionTags {
        width: 350px;
      }

      .comment {
        width: 350px;
      }
    }

    .choosePipelineSetupHeader {
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
      margin-top: var(--spacing-medium) !important;
      margin-bottom: var(--spacing-medium) !important;
    }

    .inlineRemoteWrapper {
      display: flex;
      gap: 20px;

      & > :first-child {
        flex: 1;
        & > div {
          justify-content: flex-start !important;
        }
      }
    }
  }
  border-radius: 6px;

  .nameIdDescriptionTags {
    margin-bottom: 0px !important;
    > div {
      margin-bottom: var(--spacing-medium) !important;
    }
  }

  .comment {
    max-height: 240px !important;
  }
  .lastPublishedVersionLabel {
    white-space: nowrap !important;
  }
}

.closeIcon {
  position: absolute;
  top: var(--spacing-6);
  right: var(--spacing-4);
}
