.seiSideNav {
  :global {
    .bp3-tab-list {
      display: flex;
      justify-content: space-evenly;
    }
  }
  .groupHeader {
    margin: var(--spacing-small) var(--spacing-small) var(--spacing-xsmall) var(--spacing-medium) !important;
    color: var(--white) !important;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px !important;
    cursor: pointer;

    span[class*='bp3-icon'] {
      color: inherit !important;
    }
  }
  .group {
    margin: var(--spacing-medium) 0;
  }
}
