/*
 * Copyright 2021 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.optionsViewContainer {
  margin: var(--spacing-small) 0 0 var(--spacing-small) !important;
  .manifestForm {
    min-height: 470px;

    .connectorContainer {
      .addNewManifest {
        margin-top: 25px;
      }
      .configureOptions {
        margin-top: 21px;
      }
    }
  }
}

.halfWidth {
  width: 45%;
}

.manifestStore {
  padding: var(--spacing-small) 0 0 var(--spacing-small) !important;
  height: 100%;
  position: relative;
  div[class*='OverlaySpinner'] {
    height: 100% !important;
    margin-top: 0 !important;
  }

  .accountUrl {
    color: var(--grey-700);
  }
  .reponameField {
    width: 336px;
    margin-bottom: var(--spacing-xsmall) !important;
  }
  .repoName {
    margin-bottom: var(--spacing-medium);
    width: 330px;
  }
  .repo-name-url {
    margin-left: 6px;
    word-break: break-all;
  }

  .kustomizeYamlFolderPath {
    flex: 1;
  }
}
.saveBtn {
  position: relative;
  bottom: 0;
}
.drag {
  cursor: move;
}

.dragging {
  background-color: var(--yellow-450) !important;
}

.dragOver {
  border-top: 2px solid var(--primary-7);
}

.formContainer {
  :global {
    .bp3-form-group {
      width: 60%;
    }
  }

  .runtime-input {
    display: inline-block;
  }
  height: 100%;
}

.fileHelpText {
  padding-bottom: var(--spacing-large) !important;
  text-align: justify;
}

.addFileButton {
  margin-left: 0;
}

.headerContainer {
  min-height: 400px;
}

.squareCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85px;
  margin-right: var(--spacing-small);
}
.squareCard {
  width: 64px;
  height: 64px;
  padding: var(--spacing-small) 0;
  display: flex !important;
  justify-content: center;
  align-items: center;

  [class*='cardIcon'] svg {
    margin: 0 !important;
  }
}
.sqaureCardTitle {
  font-size: var(--font-size-small) !important;
  margin-top: var(--spacing-small) !important;
  text-align: center !important;
}

.disabled {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  cursor: not-allowed !important;
}

.manifestIcon {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.advancedStepOpen {
  min-height: 100px;
  margin-top: var(--spacing-medium);
}

.runtimeInput {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.checkbox {
  margin-right: var(--spacing-medium);
  margin-bottom: 0 !important;
  width: 100%;
}

.tooltip {
  > * {
    width: 60%;
    margin-top: 8px !important;
  }
}

.tooltipContent {
  width: 300px;
}

.alignSelf {
  align-self: center;
}

.addmarginTop {
  display: flex;
  align-self: center;
}

.tooltipCls {
  position: relative;
  bottom: 5px;
}

.helmToolTip {
  position: relative;
  top: 5px;
}

.folderRunTimeInput {
  display: flex;
  width: 700px;
}

.thumbnailSelect {
  cursor: pointer;
}

.advancesSteps {
  .commandFlags {
    margin-top: var(--spacing-large);
  }
  .commandType {
    width: 240px;
    margin-right: var(--spacing-xxlarge);
    :global {
      .bp3-label {
        margin: var(--spacing-small) 0px;
      }
    }
  }
  .commandFlagType {
    margin-top: 31px;
  }
  .helmCommandFlags {
    :global(.bp3-popover-wrapper) {
      margin-left: 0 !important;
    }
  }
  .commandTypeSelect {
    & :global(.bp3-menu) {
      max-height: 250px;
    }
  }
}

.sectionCard {
  width: 600px;
  margin-top: var(--spacing-3);
  display: block;
  padding: var(--spacing-7);
  .info {
    font-size: 13px;
  }
  .thumbnailSelect {
    &:global(.bp3-form-group) {
      margin-bottom: 0px;
    }
  }
  .cardListContainer {
    display: flex;
    gap: var(--spacing-small);
    flex-wrap: wrap;
    label {
      margin-left: 0px !important;
    }
  }
}
