.aidaFeedback {
  --typography-size: 12px;
  border-radius: 4px;
  position: relative;

  textarea {
    font-size: 12px;
    min-height: 50px;
  }

  .closeButton {
    position: absolute;
    top: 16px;
    right: 8px;
  }
}
