/*
 * Copyright 2021 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.inputWidth {
  width: 391px;
}

.propagatedFromMultiServiceStageContainer {
  width: 1000px !important;
}

.multiServiceToggle {
  cursor: not-allowed !important;
}

.formRow {
  max-width: 1000px;
  :global {
    .bp3-form-group {
      margin-bottom: 0px;
    }
    .TextInput--main {
      margin-bottom: 0px !important;
    }
  }
  .serviceActionWrapper {
    margin-top: 25px !important;
  }
}
.yamlToggle {
  padding-top: var(--spacing-4) !important;
  padding-bottom: var(--spacing-4) !important;
  width: 320px;
}
.editor {
  width: 100%;
}
.editServiceDialog {
  :global {
    .ModalDialog--body {
      padding: 0 !important;

      &::before,
      &::after {
        margin: 0 !important;
      }
    }

    .ModalDialog--bodyContent {
      padding: 0 !important;
    }
  }

  overflow: hidden;
}

.inputSetSpinner {
  display: flex;
  align-self: center;
}
.inputFieldLayout {
  display: flex;
  .configureOptions {
    position: relative;
    top: 22px;
  }
}
