/*
 * Copyright 2021 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.multiTypeMap {
  :global(.TextInput--main) {
    margin-bottom: 0;
  }
}

.grid {
  display: grid;
}

.marginZero {
  margin: 0;
}

.fieldAndOptions {
  grid-template-columns: 1fr 42px;
  align-items: end;
}

.rows {
  grid-auto-flow: row;
  row-gap: var(--spacing-medium);
  margin-bottom: var(--spacing-small);

  .row {
    grid-template-columns: 1fr 1.3fr auto;
    column-gap: var(--spacing-medium);
    align-items: end;
  }
}
