/*
 * Copyright 2021 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.inputWidth {
  width: 391px;
}

.serviceCardWrapper {
  display: flex;
  gap: 20px;

  /* Inline Card is small so it need to expand to take availvle unused space */
  & > :first-child {
    flex: 1;
    & > div {
      justify-content: flex-start !important;
    }
  }
}

.serviceForm {
  .serviceFormBody {
    max-height: 500px !important;
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  .nameIdDescriptionTags {
    width: 350px !important;
  }
  :global {
    input,
    .bp3-input-group,
    .bp3-menu {
      width: 350px !important;
    }
  }
}

.formRow {
  :global {
    .bp3-form-group {
      margin-bottom: 0px;
    }
    .TextInput--main {
      margin-bottom: 0px !important;
    }
  }
  .serviceActionWrapper {
    margin-top: 25px !important;
  }
}
