/*
 * Copyright 2023 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.nameAndLabelWrapper {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: var(--spacing-medium);
  justify-content: space-between;

  .label {
    width: fit-content;
  }
}

.entityName {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-all;
}
