.configurationTabs {
  :global {
    .bp3-tab-list {
      background: var(--white) !important;
      border-bottom: 1px solid var(--grey-200);
      padding-left: var(--spacing-large);
      padding-right: var(--spacing-large);
    }
    .bp3-tab-panel {
      margin-top: 0 !important;
    }
  }
}

.saveDiscardButton {
  right: var(--spacing-small);
  margin-right: var(--spacing-xxlarge) !important;
  display: flex;
  justify-content: flex-end;
  margin-top: var(--spacing-large) !important;
  padding-bottom: var(--spacing-medium) !important;
}
