.link {
  display: flex;
  padding: var(--spacing-small) var(--spacing-medium) !important;
  margin-bottom: var(--spacing-tiny) !important;
  background-color: transparent;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: var(--spacing-xsmall);

  &:hover {
    text-decoration: none;
    color: var(--primary-8);
    background-color: rgba(210, 230, 255);

    &.collapsed {
      .dot {
        background-color: var(--primary-8);
      }
    }
  }

  &.collapsed {
    align-items: center;

    &.center {
      justify-content: center;
    }

    .dot {
      height: 4px;
      width: 4px;
      border-radius: 100%;
      background-color: var(--grey-300);
    }
  }

  &:last-child {
    margin-bottom: 0px;
  }

  &.selected {
    background-color: rgba(210, 230, 255);

    svg {
      path {
        color: var(--primary-8);
      }
    }

    p {
      color: var(--primary-8) !important;
      font-weight: 500 !important;
    }
  }
}

.section {
  border-bottom: 1px solid var(--grey-200);

  &:last-child {
    border: none;
  }
}

.popover {
  transform: translate3d(10px, 0px, 0px) !important;
  max-width: 200px;
  padding: var(--spacing-small);
}
