{
  "jsc": {
    "baseUrl": "./src",
    "target": "es2018",
    "externalHelpers": true,
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": false,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "classic",
        "throwIfNamespace": true
      }
    },
    "paths": {
      "@common/*": ["modules/10-common/*"],
      "@audit-trail/*": ["modules/38-audit-trail/*"],
      "@rbac/*": ["modules/20-rbac/*"],

      "@platform/*": ["modules/27-platform/*"],
      "@default-settings/*": ["modules/27-platform/default-settings/*"],
      "@governance/*": ["modules/25-governance/*"],
      "@code/*": ["modules/60-code/*"],
      "@cet/*": ["modules/75-cet/*"],
      "@auth-settings/*": ["modules/27-platform/auth-settings/*"],
      "@secrets/*": ["modules/27-platform/secrets/*"],
      "@variables/*": ["modules/27-platform/variables/*"],
      "@connectors/*": ["modules/27-platform/connectors/*"],
      "@user-profile/*": ["modules/38-user-profile/*"],
      "@projects-orgs/*": ["modules/45-projects-orgs/*"],
      "@delegates/*": ["modules/27-platform/delegates/*"],
      "@notifications/*": ["modules/27-platform/notifications/*"],
      "@dashboards/*": ["modules/45-dashboards/*"],
      "@gitsync/*": ["modules/40-gitsync/*"],
      "@resource-center/*": ["modules/22-resource-center/*"],
      "@pipeline/*": ["modules/70-pipeline/*"],
      "@freeze-windows/*": ["modules/72-freeze-windows/*"],
      "@templates-library/*": ["modules/72-templates-library/*"],
      "@triggers/*": ["modules/72-triggers/*"],
      "@cd/*": ["modules/75-cd/*"],
      "@sei/*": ["modules/75-sei/*"],
      "@cf/*": ["modules/75-cf/*"],
      "@ci/*": ["modules/75-ci/*"],
      "@cv/*": ["modules/85-cv/*"],
      "@ce/*": ["modules/75-ce/*"],
      "@sto/*": ["modules/85-sto/*"],
      "@ssca/*": ["modules/75-ssca/*"],
      "@idp/*": ["modules/75-idp/*"],
      "@gitops/*": ["modules/90-gitops/*"],
      "@wings-software/*": ["../node_modules/@harness/*"]
    }
  },
  "module": {
    "type": "es6",
    "strict": false,
    "strictMode": true,
    "lazy": false,
    "noInterop": false,
    "ignoreDynamic": true
  }
}
