/*
 * Copyright 2022 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.tabLink {
  :global {
    .bp3-button-text {
      color: var(--grey-700) !important;
      font-weight: 500 !important;
      font-size: 12px !important;
    }
  }
}

.downtimeBanner {
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #e8e8ff !important;

  .iconWithText {
    min-width: 800px;
  }

  .infoIcon {
    color: #4947dd !important;
  }
}

.serviceDetailsCard {
  width: 100%;
  box-shadow: none !important;
  border: 1px solid var(--grey-100) !important;
}

.changesCard {
  width: 100%;
  padding-bottom: 0 !important;
  box-shadow: none !important;
  border: 1px solid var(--grey-100) !important;
}
