/*
 * Copyright 2021 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.rowItem {
  padding: var(--spacing-medium) 0;
  border-bottom: solid 1px var(--grey-100);
  span.type {
    color: var(--grey-900) !important;
    font-weight: 900;
    display: grid;
    grid-template-columns: 1fr 10px;
  }
  font-size: 14px !important;
  > p {
    cursor: pointer;
    color: var(--primary-7) !important;
  }

  .connectorNameField {
    display: flex;
    align-items: center;

    .connectorName {
      display: inline-flex;
      color: var(--grey-500);
      margin-right: var(--spacing-small);
      max-width: 236px;
      text-overflow: ellipsis;
    }
  }
}

.btnDivider {
  height: 24px;
  border: 0.5px solid var(--grey-200);
  margin: var(--spacing-medium) 0 0 var(--spacing-5);
}

.addArtifactSourceTemplateBtn {
  padding: 0 !important;
  margin-top: var(--spacing-medium) !important;
  margin-left: 0 !important;
}

.addArtifact {
  padding: 0px !important;
  margin-top: var(--spacing-medium) !important;
}
.artifactId {
  color: var(--pipeline-color-dark-grey);
}
.paddingVertical {
  padding: var(--spacing-medium) 0;
}

.sideCarBtn {
  width: 150px;
}

.modal {
  [class*='bp3-dialog-header'] button {
    z-index: 2;
  }
}

.connectorDialog {
  width: fit-content;
  min-width: 960px;
  height: 600px;
  border-left: 0;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
  .crossButton {
    position: absolute;
    right: var(--spacing-small);
    top: var(--spacing-small);
  }
}

.editForm {
  margin-top: -50px !important;
  width: calc(100% - 35px) !important;
}
.artifactList {
  display: grid;
  grid-template-columns: 200px 200px 300px minmax(10px, 1fr) 80px;
  align-items: center;
  padding-left: var(--spacing-small);
  &.list-header {
    border-bottom: solid 1px var(--grey-100);
    padding-bottom: var(--spacing-medium);
    text-transform: uppercase;
  }
}
.sidecarList {
  width: 100%;
}

.noWrap {
  white-space: nowrap;
}
.borderRadius {
  border-radius: 4px;
}

.minimalTemplateBar {
  border: none;
  background: none !important;
  padding: 0 !important;

  :global {
    p {
      color: var(--grey-900) !important;
    }
    span[data-icon='template-library'] {
      color: var(--primary-5) !important;
    }
    span[icon='more'] {
      display: none;
    }
  }
}

.artifactSourceTemplateContainer {
  width: 100%;
  :global {
    .bp3-button {
      &:hover {
        box-shadow: none !important;
      }
    }
  }
}

.artifactRow {
  padding-top: 0 !important;
}

.templateEditWrapper {
  border: 1px solid var(--primary-5) !important;
  background: var(--primary-1) !important;
}

.primaryArtifactBadge {
  display: flex;
  padding: var(--spacing-1) 6px !important;
  align-items: center;
  border-radius: var(--spacing-2);
  background: var(--primary-2) !important;
  margin-right: var(--spacing-3) !important;
}
