/*
 * Copyright 2023 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.main {
  position: relative;
  margin: 0 auto;
  // Resetting position in case of nested StepGroupGraph
  :global(#tree-container) {
    inset: 0;
    position: static;
    transform-origin: unset;
    width: auto;
    height: auto;
  }
}

.stepGroupSVG {
  stroke: var(--pipeline-grey-border);
  stroke-width: 2;
  stroke-dasharray: 4;
}

.floatingAddNodeWrapper {
  position: absolute;
}
