.main {
  border: 1px solid var(--grey-200);
  border-radius: var(--spacing-small);
  padding: var(--spacing-medium) !important;
  height: 354px !important;
}

.labelText {
  color: var(--black) !important;
  margin-bottom: var(--spacing-small) !important;
}
