/*
 * Copyright 2022 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.topPage {
  width: 90% !important;
  position: relative;
  margin: 100px 0px var(--spacing-small) 0px !important;
  padding: var(--spacing-xxlarge) var(--spacing-huge) var(--spacing-xxlarge) var(--spacing-11) !important;

  .buttonRow {
    margin-top: var(--spacing-large) !important;
    align-items: center;
  }
}

.arrow {
  margin: 0 var(--spacing-medium) !important;

  svg {
    path {
      fill: var(--black) !important;
    }
  }
}

.paddingXSmall {
  padding: var(--spacing-xsmall) !important;
}

.iconPaddingSmall {
  padding: 3px !important;
}

.iconPadding {
  padding: 6px !important;
}

.image {
  width: 96%;
  height: 60%;
  padding-left: 415px !important;
  padding-right: 10px !important;
}

.linkText {
  margin-left: 30px !important;
}

.listItemCss {
  > li {
    margin-bottom: 25px;
  }
  padding-left: 20px;
}

.containerItemCss {
  margin-bottom: 10px !important;
}

.listContainerCss {
  margin-bottom: 15px !important;
}

.btn {
  padding: 15px !important;
  font-size: 14px !important;
}

// NEW
.centerAlign {
  align-items: center;
}
.samplePipeline {
  width: 1133px;
  height: 229px;
}
.separator {
  width: 60%;
  border: 1px solid var(--black);
  margin: var(--spacing-xxlarge) var(--spacing-xxlarge) !important;
  opacity: 0.1;
}

.close-wizard {
  position: absolute;
  right: var(--spacing-large);
  top: var(--spacing-large);
}

/** GitOps **/
.agentDiagram {
  margin-top: var(--spacing-xlarge);
  width: 733px;
  height: 154px;
  background: var(--grey-250);
}

.aboutHarnessAdapterContainer {
  width: 43%;
  padding: 0 16px;
  float: right;
  height: calc(100% - 40px);
}

.aboutHarnessAdapterAnswer {
  font-weight: 600 !important;
  color: var(--grey-800) !important;
  font-size: var(--font-size-normal) !important;
  line-height: 24px !important;
}

.installedComponent {
  font-size: 13px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: var(--grey-800);
  padding-bottom: var(--spacing-xsmall);
  padding-left: var(--spacing-xxxlarge);
}

.provisioningText {
  color: var(--grey-900);
  margin-top: var(--spacing-small);
}

.blueDot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--teal-600);
  margin-right: var(--spacing-small);
}

.sectionNumberBlue {
  width: 20px;
  height: 20px;
  background: var(--primary-7);
  box-shadow: 0px 0px 1px rgb(40 41 61 / 8%), 0px 0.5px 2px rgb(96 97 112 / 16%);
  color: var(--primary-light-hover);
  border-radius: 50%;
  margin-left: 8px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.agentFirstSection {
  display: flex;
  align-items: center;
  margin-top: var(--spacing-xlarge);
}

.agentSecondSection {
  display: flex;
  align-items: center;
  margin-top: var(--spacing-large);
  margin-bottom: var(--spacing-small);
}

.agentThirdSection {
  display: flex;
  align-items: center;
  margin-top: var(--spacing-large);
}
