/*
 * Copyright 2022 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.topPage {
  &.oldGetStarted {
    width: 90% !important;
    position: relative;
    margin: 80px 0px var(--spacing-small) 0px !important;
    padding: var(--spacing-xxlarge) var(--spacing-huge) var(--spacing-xxlarge) var(--spacing-11) !important;
    line-height: 20px !important;
    padding-left: 0 !important;
    .getStartedTitle {
      padding-left: var(--spacing-3);
    }
    &.fullscreenPage {
      margin-top: 0 !important;
      .getStartedGrid {
        margin-top: var(--spacing-11);
      }
    }
    &.wizardPaddingFullscreen {
      padding: var(--spacing-xxlarge) var(--spacing-1) var(--spacing-xxlarge)
        calc(var(--spacing-14) + var(--spacing-huge)) !important;
    }
    .getStartedGrid {
      display: flex;
      flex-direction: row;
      gap: var(--spacing-large);
      padding-left: var(--spacing-14);
      .cardsPadding {
        padding: var(--spacing-xxxlarge);
        border-radius: 8px;
      }
      .pointer {
        cursor: pointer;
      }

      .harnessLinksSection {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-large);
        .sampleDeploymentcard {
          padding: var(--spacing-xxlarge);
          border: 2px solid var(--green-200);
          box-shadow: 0px 0px 42px 0px var(--green-200);
        }
        .cicard {
          display: flex;
          flex-direction: column;
        }
        .cdlinks {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;

          > p {
            width: 33%;
            align-items: center;
            justify-content: start;
            display: flex;
          }
        }
      }
      .harnessInfoSection {
        width: 30%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        .videoBtn {
          border: solid 1px var(--green-600) !important;
          color: var(--green-600) !important;
          min-width: 210px;
        }
      }
      .aboutHarnesscard {
        display: flex;
        align-items: stretch;
        flex-direction: column;
      }
    }
  }

  &.cdwizardcli {
    margin: 60px 0px var(--spacing-small) 0px !important;
    padding: var(--spacing-xxlarge) var(--spacing-huge) var(--spacing-xxlarge) var(--spacing-13) !important;
  }
  padding: 0 var(--spacing-xxlarge) var(--spacing-huge) var(--spacing-xxlarge) var(--spacing-11) !important;
  .buttonRow {
    margin-top: var(--spacing-large) !important;
    align-items: center;
  }
  .descriptionLeftpad {
    padding-left: var(--spacing-11);
  }
  .alignicon {
    align-items: center;
  }
}

.arrow {
  margin: 0 var(--spacing-medium) !important;

  svg {
    path {
      fill: var(--black) !important;
    }
  }
}

.paddingXSmall {
  padding: var(--spacing-xsmall) !important;
}

.iconPaddingSmall {
  padding: 3px !important;
}

.iconPadding {
  padding: 6px !important;
}

.image {
  width: 96%;
  height: 60%;
  padding-left: 415px !important;
  padding-right: 10px !important;
}

.linkText {
  margin-left: 30px !important;
}

.listItemCss {
  > li {
    margin-bottom: 25px;
  }
  padding-left: 20px;
}

.containerItemCss {
  margin-bottom: 10px !important;
}

.listContainerCss {
  margin-bottom: 15px !important;
}

.btn {
  padding: 15px !important;
  font-size: 14px !important;
}

// NEW
.centerAlign {
  align-items: center;
}
.samplePipeline {
  width: 1133px;
  height: 229px;
}
.separator {
  width: 60%;
  border: 1px solid var(--black);
  margin: var(--spacing-xxlarge) var(--spacing-xxlarge) !important;
  opacity: 0.1;
}

.close-wizard {
  position: absolute;
  right: var(--spacing-large);
  top: var(--spacing-large);
}

/** GitOps **/
.aboutHarnessAdapterAnswer {
  font-weight: 600 !important;
  color: var(--grey-800) !important;
  font-size: var(--font-size-normal) !important;
  line-height: 24px !important;
}

.installedComponent {
  font-size: var(--form-input-font-size);
  line-height: 24px;
  display: flex;
  align-items: center;
  color: var(--grey-800);
  padding-bottom: var(--spacing-xsmall);
}

.provisioningText {
  color: var(--grey-900);
  margin-top: var(--spacing-small);
}

.blueDot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--teal-600);
  margin-right: var(--spacing-small);
}

.agentFirstSection {
  display: flex;
  align-items: center;
  margin-top: var(--spacing-xlarge);
}

.agentSecondSection {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-small);
}

.agentThirdSection {
  display: flex;
  align-items: center;
  margin-top: var(--spacing-large);
}

.progressItem:after {
  border-color: var(--primary-7) !important;
  background-color: var(--primary-7) !important;
}

.provisioningInfo {
  height: 32px;
  margin-top: var(--spacing-xxxlarge);
  display: flex;
  font-weight: 500;
  font-size: var(--form-input-font-size);
  color: var(--grey-900);
  align-items: center;
}

.provisioningSecondaryInfo {
  margin: var(--spacing-medium) 0 var(--spacing-xxxlarge);
  font-size: var(--font-size-normal);
  color: var(--grey-900);
  min-height: 40px;
}

.error {
  color: var(--error);
}
.onboardingcards {
  .cardWidth {
    width: 510px !important;
    padding: var(--spacing-xxlarge);
  }
  gap: var(--spacing-xxlarge);
  .cardShadow {
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
  }
  .cardGap {
    gap: var(--spacing-xlarge);
  }
  .bodyText {
    line-height: 18px !important;
    align-items: start;
    :global(.bp3-icon) {
      margin-top: -18px;
    }
    margin-bottom: var(--spacing-medium);
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.videoCard {
  .videoframe {
    cursor: pointer;
    iframe {
      width: 100%;
      height: 250px;
    }
    margin-bottom: var(--spacing-xlarge);
  }
}
.cdresourcelist {
  margin-bottom: unset;
  list-style: none;
  padding-left: var(--spacing-small);
  li::before {
    content: '\2022';
    color: var(--primary-7);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  p:last-child {
    margin-bottom: 0 !important;
  }
}
