/*
 * Copyright 2022 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.tabsContainer {
  position: relative !important;
  & > :global(.bp3-tabs > .bp3-tab-list) {
    border-bottom: 1px solid var(--grey-200);
  }
  :global {
    .bp3-tab-panel {
      margin-top: 0;
    }

    .bp3-tab-list {
      background-color: var(--white);
      width: 100%;
      border-bottom: 0;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
      align-items: center;
      padding: 0 var(--spacing-xlarge);

      position: sticky;
      top: 0px;
      z-index: 2;
    }
  }
  .btnContainer {
    position: absolute !important;
    top: 6px;
    right: var(--spacing-xlarge);
    .tagRender {
      color: var(--orange-600);
      margin-right: var(--spacing-xlarge);
      margin-top: var(--spacing-small);
      font-size: var(--font-size-small);
      line-height: 15px;
      &::before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: var(--orange-600);
        display: inline-block;
        margin: 0 4px;
      }
    }
    .saveButton {
      width: 70px !important;
      height: 24px !important;
      border-radius: 4px;
      font-size: 13px !important;
    }
    .discardBtn {
      margin-left: var(--spacing-3) !important;
    }
  }
}

.stickyBtnContainer {
  position: sticky;
  bottom: 0;
  background-color: var(--white) !important;
  z-index: 11;
  border-radius: 6px !important;
}
