/*
 * Copyright 2022 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.table {
  min-width: 1300px;
  padding: var(--spacing-small) var(--spacing-xlarge);

  :global {
    [class*='Pagination'] {
      border: none;
    }
  }
  .row {
    .favoriteStar {
      visibility: hidden;
    }
    .favorite {
      visibility: visible;
    }

    &:hover {
      .favoriteStar {
        visibility: visible;
      }
    }
  }
}

.layout {
  justify-content: flex-end;
}

.testBtn {
  align-self: center;
}

.testConnectionPop {
  border-radius: 4px;
  background-color: var(--white) !important;
  > div > div {
    display: none;
  }

  padding: 0 var(--spacing-small) var(--spacing-large) var(--spacing-small);
}

.identifier {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--grey-600);
  font-size: var(--font-size-small);
}
.wrapper {
  width: 80%;
  .name {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--black);
    font-size: 13px;
    font-weight: 500 !important;
  }
  .flex {
    display: flex;
    align-items: center;
  }
  span {
    white-space: nowrap !important;
  }
  .listingGitBranch {
    max-width: 100px;
  }
}

.invalidConnector {
  background: var(--red-50) !important;
  border-radius: 4px;
}

.viewDetails {
  cursor: pointer;
}

.link {
  justify-content: flex-start;
  span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

:global {
  .connectorDeleteDialog {
    textarea {
      max-height: 200px;
      width: 100%;
      resize: vertical;
    }
  }
}

.tooltip {
  max-width: 400px;
}

.confirmText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.connectorTabs {
  padding-left: var(--spacing-xxlarge);
}
