/*
 * Copyright 2022 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */
/* stylelint-disable color-no-hex */

.footer {
  border-top: 1px solid var(--grey-200);
}

.card {
  height: 204px;
  width: 239px;
  border-radius: 8px;
  background: var(--white);
  margin-right: var(--spacing-large);
}

.selectedCard {
  background: var(--primary-1);
}

.hostingToggle {
  :global(.PillToggle--item) {
    width: 167px !important;
  }
}

.gitProviderCard {
  height: 110px;
  width: 110px;
  margin-right: var(--spacing-large);
}

.gitProviderCard:last-of-type {
  margin-right: 5px;
}

.otherGitProviderCard {
  height: 110px;
  width: 110px;
  padding: 0 !important;
  display: grid !important;
  grid-template-rows: [tooltip] 20px [icon] auto;
}

.toolTipArea {
  grid-row: tooltip;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 5px 5px 0 0;
}

.iconArea {
  grid-row: icon;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.otherOptionCard {
  height: 110px;
  width: 110px;
  padding: var(--spacing-small) !important;
}

.codeIcon {
  padding: var(--spacing-xsmall) !important;
}

.githubIcon {
  padding: var(--spacing-xsmall) !important;
}

.gitlabIcon {
  padding: var(--spacing-3) var(--spacing-xsmall) 0 var(--spacing-3) !important;
}

.bitbucketIcon {
  padding: var(--spacing-small) var(--spacing-xsmall) 0 var(--spacing-3) !important;
}

.genericGitIcon {
  padding: var(--spacing-xsmall) var(--spacing-xsmall) var(--spacing-xsmall) var(--spacing-3) !important;
}

.icons {
  display: flex;
}

.borderBottom {
  border-bottom: 1px solid var(--grey-200);
}

.comingSoonPill {
  background: linear-gradient(152.65deg, var(--purple-200) 5.9%, var(--purple-400) 89.46%) !important;
  border-radius: 4px;
  height: 18px;
  width: 77px;
}

.repositories {
  height: 57vh;
  width: 65%;
}

.repositoryTable {
  max-height: 95%;
  overflow-y: scroll;
  border-radius: 8px;
  border: 1px solid var(--grey-200);
  > div {
    max-height: 100%;
    > div {
      padding: 0 !important;
    }
  }
}

.repositoryRow {
  height: 51px;
  padding: var(--spacing-medium) var(--spacing-xlarge) !important;
}

.repositoryRow:hover {
  background-color: var(--primary-1);
  cursor: pointer;
}

.repositorySearch {
  [class*='bp3-input'] {
    height: 42px !important;
    width: 675px !important;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-left: var(--spacing-xxxlarge) !important;
  }
}

.authMethodBtn {
  border: 1px solid var(--grey-100) !important;
  box-sizing: border-box;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16) !important;
}

.learnMore {
  padding: 0 !important;
}

.testConnectionBtn {
  width: fit-content;
}

.provisioningFailed {
  width: fit-content !important;
  background-color: var(--red-50) !important;
  border-radius: 4px;
}

.provisioningSuccessful {
  width: fit-content !important;
  background-color: var(--green-50) !important;
  border-radius: 4px;
}

.connectorSelect {
  input {
    height: 42px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
  }
  :global {
    .bp3-active,
    .bp3-menu-item:hover {
      background-color: var(--primary-2) !important;
      color: var(--grey-900) !important;
    }
    .bp3-icon-chevron-down {
      padding: var(--spacing-medium) var(--spacing-3) var(--spacing-xsmall) var(--spacing-xsmall) !important;
    }
    .Select--menuItem {
      padding: var(--spacing-1) var(--spacing-small);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 42px;
    }
  }
}

.listIcon {
  margin: var(--spacing-small) var(--spacing-xsmall) var(--spacing-3) var(--spacing-small) !important;
  padding-left: var(--spacing-1) !important;
  padding-top: 1px !important;
  svg {
    width: 25px;
    height: 20px;
  }
}

.divider {
  border: 1px solid var(--grey-100);
}

.infoIcon {
  margin: var(--spacing-3) var(--spacing-3) 0 0 !important;
}

.noCodebaseHelpText {
  border-radius: 5px;
  background: var(--primary-2) !important;
  width: fit-content;
}

.separator {
  border-left: 1px solid var(--grey-200);
  width: var(--spacing-xlarge);
  display: flex;
  margin: var(--spacing-large) 0 var(--spacing-large) 0 !important;
}

.configOptionCard {
  &:hover {
    cursor: pointer;
  }
  padding: var(--spacing-4) var(--spacing-large) var(--spacing-4) var(--spacing-4) !important;
}

.branchSelector {
  :global {
    .bp3-input-group {
      width: 350px;
    }
  }
}

.yamlPathField {
  width: 350px;
  height: 32px !important;
  padding-bottom: var(--spacing-huge);
}

.header {
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom: 1px var(--grey-100) solid;
  padding-left: var(--spacing-large);
  font-weight: bolder;
  font-size: var(--font-size-normal);
  color: var(--black);
  background-color: var(--white);
}

.startConfigHeader {
  white-space: nowrap;
  padding-bottom: var(--spacing-xsmall);
}

.toggleLabel {
  margin: 0;
  color: var(--black);
  font-size: var(--font-size-normal);
  font-weight: 500;
}

.infoIcon {
  margin: 0 !important;
}

.infoIcon path {
  fill: #0278d5;
}

.advancedOptions {
  padding: 0 !important;
}

.advancedOptionFormFields {
  padding-left: var(--spacing-2) !important;
  padding-top: var(--spacing-small) !important;
  :global {
    .bp3-form-group {
      margin-bottom: var(--spacing-small);
      width: 100%;
    }
  }
}

.recommendedTag {
  border-radius: 8px;
  background: var(--yellow-500) !important;
  height: var(--spacing-large);
  padding: var(--spacing-small) !important;
  display: flex;
  align-items: center;
}
