/*
 * Copyright 2022 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.tagsPopover {
  p {
    color: var(--grey-600);
  }
}

.dialogStyles {
  :global {
    .ModalDialog--body {
      padding: 0 !important;

      &::before,
      &::after {
        margin: 0 !important;
      }
    }

    .ModalDialog--bodyContent {
      padding: 0 !important;
    }
  }

  overflow: hidden;
}

.modalFooter {
  position: sticky;
  bottom: 0;
  background-color: var(--white) !important;
  z-index: 11;
  border-radius: 6px !important;
  height: 80px;
}

.infraCardSection {
  width: 80%;
  margin-bottom: var(--spacing-large);
}

.yamlBuilder {
  position: relative;

  .buttonWrapper {
    position: absolute;
    top: var(--spacing-medium);
    right: var(--spacing-large);
    display: flex;
    column-gap: var(--spacing-large);
    align-items: center;
    z-index: 2;
  }
}
.body {
  height: calc(100% - 80px);
  overflow-x: hidden !important;
  overflow-y: auto;
}

.InfraDefinitionDetailsDrawer {
  .infraDetailsConfigurationTab,
  .infraDetailsReferencedByTab {
    max-height: calc(100vh - 120px);
    overflow: auto;
    background-color: var(--form-bg);

    :global(.bp3-card) {
      max-width: 100% !important;
    }
  }

  .closeButton:global(.bp3-button.bp3-minimal) {
    position: absolute;
    right: 100%;
    top: 0;
    background: var(--primary-5) !important;
    opacity: 0.5;
    color: var(--white) !important;
    border-radius: 4px 0 0 4px !important;
    padding: 0 !important;
  }

  :global(.bp3-drawer-header) {
    margin: 0 !important;
    padding: 0 var(--spacing-10) 0 var(--spacing-10) !important;
    border-bottom: 1px solid var(--grey-200);
    min-height: 82px !important;
  }
  :global(.bp3-heading) {
    margin-right: 0 !important;
  }
  :global(.bp3-tab-list) {
    padding-left: var(--spacing-10) !important;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 13%) !important;
    z-index: 10;
  }
  :global(.bp3-tab-panel) {
    margin-top: 0 !important;
  }
}

.referenceByPageBody {
  min-height: unset !important;
  height: calc(100vh - 200px) !important;
}

.tagRender {
  & > :global(.bp3-button-text) {
    color: var(--orange-600) !important;
    font-size: var(--font-size-small) !important;
  }

  margin-right: var(--spacing-5);
  line-height: 15px;
  padding: 0 !important;

  &::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: var(--orange-600);
    display: inline-block;
    margin: 0 4px;
  }
}

.actionConfirmationDialogWrapper {
  padding-top: var(--spacing-xxlarge) !important;
  p {
    word-break: break-word;
  }
  :global(.bp3-button-text) {
    flex-shrink: 0 !important;
  }
}

.infraForm {
  .nameIdDescriptionTags {
    width: 350px !important;
  }
  :global {
    input,
    .bp3-input-group,
    .bp3-menu {
      width: 350px !important;
    }
  }
}

.infraCardWrapper {
  display: flex;
  gap: 20px;

  /* Inline Card is small so it need to expand to take availabel unused space */
  & > :first-child {
    flex: 1;
    & > div {
      justify-content: flex-start !important;
    }
  }
}

.inputWidth {
  width: 450px;
}
