/*
 * Copyright 2021 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.main {
  .panel {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    column-gap: var(--spacing-xxlarge);
    align-items: start;
    margin-top: var(--spacing-medium);
    border-top: 1px solid var(--grey-200);
    padding-top: var(--spacing-xxlarge);
  }

  .executionStatusLabel {
    label {
      margin-bottom: var(--spacing-medium);
    }
  }

  .divider {
    width: 1px solid;
    background: var(--grey-200);
    height: 100%;
  }

  .expressionInput {
    width: 100%;
    margin-bottom: var(--spacing-xsmall);
    margin-top: var(--spacing-medium);
  }

  .runtimeInput {
    margin-top: var(--spacing-medium);
    width: 245px;
  }

  .blackText {
    color: var(--black);
    font-size: 13px;
    &.active {
      color: var(--grey-900);
      font-weight: 500;
    }
  }
}
