/*
 * Copyright 2021 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.crossIcon {
  position: absolute;
  right: var(--spacing-large);
  top: var(--spacing-large);
}

.modalContent {
  max-height: fit-content;
  min-height: 150px;
  height: calc(100% - 48px);
}

.runPipelineDialog {
  position: relative;
  padding-bottom: 0 !important;
  background-color: var(--form-bg) !important;
}

.link {
  a {
    text-decoration: none;
    color: var(--grey-0) !important;
  }
}
