.container {
  box-shadow: none !important;
  font-family: inherit;
  letter-spacing: normal !important;
  border: 1px solid var(--bp3-intent-color, var(--grey-200)) !important;
  height: 36px !important;
  position: relative;
  padding: var(--spacing-xsmall) var(--spacing-small) !important;
  display: flex;
  justify-content: space-between;
  border-radius: var(--spacing-2);

  &:hover {
    border-color: var(--primary-6) !important;
  }

  &:focus {
    border-color: var(--primary-6) !important;
  }

  :global(.bp3-button-text) {
    width: 100%;
  }
}

.tab-list {
  :global {
    .bp3-tab-list {
      width: 100%;
      padding: 0 var(--spacing-medium);
      border-bottom: 1px solid var(--grey-200);
      margin-top: var(--spacing-xsmall);
    }

    .bp3-tab-panel {
      margin-top: var(--spacing-small);
    }
  }
}

.search-input {
  margin: 0 var(--spacing-medium) var(--spacing-small) var(--spacing-medium) !important;
}

.list-container {
  width: 400px !important;
  overflow-y: scroll;
}

.list-row {
  cursor: pointer;
}

.disabled {
  background-color: var(--grey-50) !important;
  border-color: var(--grey-200) !important;
  opacity: 1 !important;

  &:hover {
    border-color: var(--grey-200) !important;
  }
}
