/*
 * Copyright 2022 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.selected {
  color: var(--primary-6) !important;
}
.footerStyleCi {
  margin-top: 90px !important;
}
.footerStyleFf {
  margin-top: 30px !important;
}

.totalAmountStyle {
  margin-left: 120px !important;
}

.parentTimeChild1 {
  height: 10px;
  background-color: var(--primary-1) !important;
  width: 100% !important;
  border: 1px solid var(--primary-2);
  border-radius: 10px 10px 10px 10px;
}

.parentTime {
  display: flex;
  width: auto;
}

.pricePreview {
  width: 40% !important;
  height: auto;
  padding: var(--spacing-large) !important;
  border: 6px solid;
  border-radius: 12px;
}

.cf {
  border-color: var(--orange-500);
}

.ci {
  border-color: var(--ci-border);
}

.line {
  border-bottom: solid 1px;
}

.paymentFrequency {
  > span {
    width: 50px !important;
    background-color: var(--primary-1) !important;
    &::before {
      background-color: var(--primary-6) !important;
    }
    border: unset !important;
  }
}
