.event {
  position: absolute;
  top: 0;

  .singleEvent {
    transform: rotate(45deg);
  }
}

.downTimeContainer {
  display: flex;
  flex-direction: column;
}

.downTimeTextElements {
  font-size: var(--font-size-xsmall) !important;
  color: var(--white) !important;
}

.downTimeWidgetsPopover {
  background-color: var(--primary-9-dark);
  position: relative;
  bottom: 10px;
  :global {
    .bp3-popover-arrow-fill {
      fill: var(--primary-9-dark);
    }
    .bp3-popover-content {
      background-color: var(--primary-9-dark);
    }
  }
}

.downTimeIcon {
  cursor: pointer;
}
