/*
 * Copyright 2022 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

html,
body,
#react-root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.ng-tooltip-native {
  display: flex;
  align-items: center;
}

body {
  --font-family: 'Inter', sans-serif;
  --font-family-mono: Monaco, 'Ubuntu Mono', 'Courier New', monospace;
  --font-family-reenie-beanie: 'Reenie Beanie';
  --font-size: var(--font-size-small);
  min-width: 1280px;
}

/* stylelint-disable  color-no-hex */
:root {
  // Continuous Delivery
  --cd-foreground: #30841f;
  --cd-border: #5fb34e;
  --cd-background: #f6fff2;
  --cd-background-light: #fbfffb;

  // Continuous Integration
  --ci-foreground: #0672b6;
  --ci-border: #2bb1f2;
  --ci-background: #e2f5ff;
  --ci-background-light: #fbfdff;

  // Cloud Cost Management
  --ccm-foreground: #24807f;
  --ccm-border: #01c9cc;
  --ccm-background: #ecffff;
  --ccm-background-light: #faffff;

  // Feature Flag Management
  --ff-foreground: #c05809;
  --ff-border: #ee8625;
  --ff-background: #fcf4e3;
  --ff-background-light: #fffefa;

  // Service Reliability Management
  --srm-foreground: #6938c0;
  --srm-border: #ae82fc;
  --srm-background: #f6f1ff;
  --srm-background-light: #ae82fc;

  // Security Test Orchestration
  --sto-foreground: #1947ec;
  --sto-border: #4791ff;
  --sto-background: #ebefff;
  --sto-background-light: #fafbff;

  // Chaos Engineering
  --chaos-foreground: #9a0041;
  --chaos-border: #ff006a;
  --chaos-background: #fff1f7;
  --chaos-background-light: #fff9fc;

  // Infrastructure as Code
  --iacm-foreground: var(--magenta-800);
  --iacm-border: var(--magenta-400);
  --iacm-background: var(--grey-100);
  // IDP
  --idp-foreground: #36baa2;
  --idp-border: #36baa2;
  --idp-background: #ebefff;
  --idp-background-light: #faffff;

  // Software Supply Chain Assurance
  --ssca-foreground: #1947ec;
  --ssca-border: #4791ff;
  --ssca-background: #ebefff;

  // Continuous Error Tracking
  --cet-foreground: #b60202;
  --cet-border: #e35a54;
  --cet-background: #fff2f2;

  // Default Colors
  --default-module-border: var(--white);

  // Software Engineering Insights
  --sei-foreground: #30841f;
  --sei-border: #62f91f;
  --sei-background: #f6fff2;
}
/* stylelint-enable  color-no-hex */

@import '@common/styles/index.scss';
