.contentContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--spacing-xxxlarge) var(--spacing-small) !important;
  padding-top: var(--spacing-xlarge) !important;
}

.layout {
  max-height: calc(100vh - 258px);
  overflow: auto;
  height: 100%;
}

.tooltipContent {
  padding: 0 0 var(--spacing-4) var(--spacing-medium) !important;
}
