/*
 * Copyright 2021 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.main {
  display: flex;
  margin-top: var(--spacing-4);

  .trigger {
    display: flex;
    margin-left: 15px;
    align-items: center;
  }
}

.singleExecutionTag {
  background-color: var(--primary-1) !important;
  color: var(--primary-8);
  font-weight: bold;
  border: solid 1px var(--primary-2);

  > span {
    display: inline-flex !important;
  }
}

.userLabelContainer {
  display: flex;
  margin-left: 15px;
}

.meta-container {
  display: flex;
  gap: var(--spacing-small);
}

.lhs {
  position: relative;

  &[data-has-sibling='true']::after {
    content: '';
    position: absolute;
    height: calc(var(--execution-stage-details-height) / 3);
    width: 1px;
    background: var(--grey-400);
    opacity: 0.2;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
  }
}

.popover {
  .overflowScroll {
    max-height: 370px;
    max-width: 500px;
    overflow: auto;
    tr > td {
      min-width: 220px;
    }
  }
}

.parentPipelineDetails {
  display: flex;
  justify-content: center;
  padding-left: var(--spacing-4);
}

.cdExecutionContainer {
  display: grid;
  grid-template-columns: 18px 5fr 3fr;
  align-items: center;
  max-width: 320px;
}
