/*
 * Copyright 2022 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.tabsContainerMain {
  :global {
    .bp3-tabs {
      flex-direction: column;
      .bp3-tab-list {
        background-color: var(--white);
        border-bottom: 1px solid var(--grey-200);
        padding: 0 var(--spacing-medium) !important;
        box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
      }
    }
  }
}

.overviewContainer {
  padding: 10px 60px !important;
}

.serviceDetails {
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
  padding: 36px !important;
  border-radius: 4px;
}
