.alignCenter {
  align-self: center;
  margin: 8px !important;
}
.chaos {
  height: 40px;
  border-radius: 0px 0px 4px 4px;
  padding: 0 16px !important;
  border-top: 2px solid #9a0041;
  background-color: #fff1f7 !important;
  .text {
    color: #9a0041;
    align-self: center;
  }
}
.ccm {
  height: 40px;
  border-radius: 0px 0px 4px 4px;
  padding: 0 16px !important;
  border-top: 2px solid #24807f;
  background-color: #ecffff !important;
  .text {
    color: #24807f;
    align-self: center;
  }
}
.ci {
  height: 40px;
  border-radius: 0px 0px 4px 4px;
  padding: 0 16px !important;
  border-top: 2px solid #0672b6;
  background-color: #e2f5ff !important;
  .text {
    color: #0672b6;
    align-self: center;
  }
}
.cd {
  height: 40px;
  border-radius: 0px 0px 4px 4px;
  padding: 0 16px !important;
  border-top: 2px solid #30841f;
  background-color: #f6fff2 !important;
  .text {
    color: #30841f;
    align-self: center;
  }
}
.sei {
  height: 40px;
  border-radius: 0px 0px 4px 4px;
  padding: 0 16px !important;
  border-top: 2px solid #30841f;
  background-color: #f6fff2 !important;
  .text {
    color: #30841f;
    align-self: center;
  }
}
.cf .ff {
  height: 40px;
  border-radius: 0px 0px 4px 4px;
  padding: 0 16px !important;
  border-top: 2px solid #c05809;
  background-color: #fcf4e3 !important;
  .text {
    color: #c05809;
    align-self: center;
  }
}
.sto {
  height: 40px;
  border-radius: 0px 0px 4px 4px;
  padding: 0 16px !important;
  border-top: 2px solid #2e1cf3;
  background-color: #ebefff !important;
  .text {
    color: #2e1cf3;
    align-self: center;
  }
}
.cv .srm {
  height: 40px;
  border-radius: 0px 0px 4px 4px;
  padding: 0 16px !important;
  border-top: 2px solid #6938c0;
  background-color: #f6f1ff !important;
  .text {
    color: #6938c0;
    align-self: center;
  }
}
.cet {
  height: 40px;
  border-radius: 0px 0px 4px 4px;
  padding: 0 16px !important;
  border-top: 2px solid #ff5310;
  background-color: #fcedec !important;
  .text {
    color: #b41710;
    align-self: center;
  }
}
.idp {
  height: 40px;
  border-radius: 0px 0px 4px 4px;
  padding: 0 16px !important;
  border-top: 2px solid #01c9cc;
  background-color: #ecffff !important;
  .text {
    color: #24807f;
    align-self: center;
  }
}
.scm {
  height: 40px;
  border-radius: 0px 0px 4px 4px;
  padding: 0 16px !important;
  border-top: 2px solid #ff5310;
  background-color: #fffbee !important;
  .text {
    color: #ff5310;
    align-self: center;
  }
}
.ssca .sscm {
  height: 40px;
  border-radius: 0px 0px 4px 4px;
  padding: 0 16px !important;
  border-top: 2px solid #ff5310;
  background-color: #fff5ed !important;
  .text {
    color: #b41710;
    align-self: center;
  }
}
