/*
 * Copyright 2022 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.output-variables-container {
  margin-top: var(--spacing-medium);

  .table-row {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    column-gap: var(--spacing-8);
    margin-bottom: var(--spacing-large);
    align-items: baseline;

    & :global(.bp3-form-group) {
      margin: 0;
    }

    .value-column {
      display: grid;
      &[data-type='RUNTIME'] {
        grid-template-columns: 3fr 45px;
      }
      :global(.TextInput--main) {
        margin-bottom: 0 !important;
      }
    }

    .actionButton {
      display: flex;
      justify-content: center;
    }

    &.header-row {
      padding-bottom: var(--spacing-medium);
      border-bottom: 1px solid var(--grey-100);
      font-style: normal;
      font-weight: 600;
      font-size: var(--font-size-xsmall);
      letter-spacing: 0.2px;
      color: var(--grey-600);
      text-transform: uppercase;
    }
  }
}

.addOutput {
  padding: 0px !important;
}

.tooltip {
  display: block;
  padding: var(--spacing-small);
}

.output-panel-input-sets-container {
  padding: var(--spacing-large);
  margin: 0 var(--spacing-large) 0 var(--spacing-xlarge);
  background-color: var(--white);
  border: 1px solid var(--grey-200);
  border-radius: var(--spacing-2);

  .output-list-table {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    align-items: baseline;
    margin-top: var(--spacing-small);
    column-gap: var(--spacing-xsmall);

    & > p {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .subHeader {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    align-items: baseline;
    margin: var(--spacing-medium) 0 var(--spacing-large) 0;
    text-transform: uppercase;
  }

  .output-value-row {
    align-items: center;
    min-height: 47px;
    width: 264px;

    & :global(.bp3-form-group) {
      width: 100%;
      margin: 0;
    }

    & :global(.MultiTypeInput--btn) {
      width: 28px !important;
    }
  }
}
