/*
 * Copyright 2021 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.projectText {
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.headerContainer {
  .listHeader {
    margin: var(--spacing-medium) 0 !important;
    flex: 1;
  }

  .favorite {
    margin-left: var(--spacing-small) !important;
  }
}

.pickProjectHelp {
  padding: var(--spacing-huge) var(--spacing-xlarge);
  background-position: center 0;
  background-size: 35px;
  background-repeat: no-repeat;
  line-height: 20px;
}

.projectContainer {
  column-count: 2;
  column-gap: 0em;
  box-sizing: content-box;
}

.projectSearch {
  flex: 1;
  margin-right: var(--spacing-small);
}

.orgDropdown {
  margin-right: var(--spacing-small);
  width: 180px;
}

.projectContainerWrapper {
  height: calc(100vh - 156px);
  justify-content: space-between;
  margin: var(--spacing-none) var(--spacing-none) !important;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--grey-200);
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb:hover {
    opacity: 0.6;
  }
}

.projectCard {
  margin-bottom: 2em;
}

.selectContainer {
  height: 100vh;
  padding-bottom: var(--spacing-none) !important;
  background: #f3f8fb !important;
}

.popover {
  transform: translate3d(17px, -5px, 0px) !important;
}

.popoverTarget {
  border-radius: 0;
  height: 24px !important;
  width: 100%;
  min-height: unset;
  padding: var(--spacing-none) !important;
  color: white !important;

  &:active,
  &[class*='active'] {
    border: 0.5px solid var(--primary-5) !important;
    color: var(--primary-5) !important;
    box-shadow: none !important;
  }
}

.selectButton {
  width: 100%;
  justify-content: space-between;
  color: var(--white) !important;
  border: 0.5px solid var(--grey-500) !important;
  border-radius: 2px;
  height: 26px !important;
  padding: 0 var(--spacing-xsmall) !important;
  &:hover {
    border: 0.5px solid var(--primary-5) !important;
    color: var(--primary-5) !important;
    box-shadow: none !important;
  }
}

.selectedProject {
  justify-content: flex-start;
}
.pagination {
  padding: var(--spacing-xlarge) var(--spacing-xlarge) var(--spacing-xsmall) 0px !important;
}

.row {
  .favorite {
    visibility: hidden;
  }
  .favoriteActive {
    visibility: visible;
  }

  &:hover {
    .favorite {
      visibility: visible;
    }
  }
}
