/*
 * Copyright 2021 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.header {
  & > div {
    width: 100% !important;
  }
  .serviceDetails {
    flex-grow: 1;
    max-width: 100%;
    .textOverflow {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap !important;
    }
  }

  .detailsSection {
    max-width: 500px;
  }

  .detailsSectionForRemote {
    width: 250px;
  }

  .cursor {
    cursor: pointer;
  }
}

.gitRemoteDetailsWrapper {
  display: inline-flex;
  align-items: center;
  padding-left: 12px;
  border: 1px solid var(--grey-200) !important;
  border-radius: var(--spacing-2);
  height: 32px;
}

.headerWithDescShown {
  height: 120px !important;
}

.notificationPopover {
  padding: var(--spacing-5) !important;
  width: 350px !important;
  display: flex !important;
  align-items: center;

  p {
    max-width: 220px;
  }
}

.notificationPopoverBtn {
  color: var(--primary-5) !important;
  background-color: var(--primary-9-dark) !important;
  border: 1px solid var(--primary-5) !important;
  box-shadow: none !important;
  width: 60px !important;
  height: var(--spacing-6) !important;
  padding: 0px var(--spacing-3) !important;
  font-size: 13px !important;
}

.optionsMenu {
  min-width: unset;
}
