.slider {
  max-width: 60%;

  > span[class*='bp3-slider-handle'] {
    border-radius: 100px;
    box-sizing: border-box;
    position: absolute;
    width: 28px;
    height: 28px;
    top: -7px;
    background: rgb(255, 255, 255);
    border: 5px solid rgb(2, 120, 213);
    box-shadow: rgba(40, 41, 61, 0.04) 0px 0px 1px, rgba(96, 97, 112, 0.16) 0px 2px 4px;
    flex: 0 0 auto;
    order: 5;
    z-index: 5;

    > span[class*='bp3-slider-label'] {
      visibility: hidden;
    }
  }

  div[class*='bp3-slider'] {
    display: flex;
    align-items: center;
  }

  > div[class*='bp3-slider-track'] {
    height: 4px;
    background-color: var(--white);
    top: 7px;
  }

  > div[class*='bp3-slider-axis'] {
    margin-top: -45px !important;

    > div[class*='bp3-slider-label'] {
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
    }
  }
}
