.star {
  &:hover {
    svg path {
      stroke: var(--yellow-700) !important;
      transition: 100ms linear ease-out;
    }
  }

  &.favorite {
    &:hover {
      svg path {
        stroke: var(--yellow-900) !important;
      }
    }
  }
}
