.card {
  width: 100%;
  margin: var(--spacing-xlarge);
  min-height: 100px;
}
.textInpt {
  width: 150px !important;
  margin: 0px !important;
}
.sessionTimeoutLayout {
  width: 50% !important;
}
.sessionTimeoutError {
  margin-left: 215px;
}
