.sloTableConatiner {
  min-height: 150;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weightageInput {
  :global {
    .TextInput--main {
      margin-bottom: 0 !important;
    }
  }
}

.totalRow {
  height: 44px;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto auto auto auto auto;
  background: var(--green-100) !important;
}
