/*
 * Copyright 2021 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

@mixin common-tooltip-styles {
  background: var(--primary-9-dark) !important;
  width: 25%;
  border: 1px solid var(--grey-200);
  border-radius: 10px;
  box-shadow: var(--elevation-3);
  padding-bottom: var(--spacing-xxlarge) !important;
}

.main {
  width: 100% !important;
  border: 1px solid #effbff;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
  border-radius: var(--spacing-xsmall);

  .scrollArrow {
    flex-basis: 20px;
    flex-shrink: 0;
    max-height: 100% !important;
    height: 100% !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 var(--spacing-xsmall) !important;
  }

  .scrollArrowPlaceholder {
    flex-basis: 30px;
    flex-shrink: 0;
    max-height: 100% !important;
    height: 100% !important;
    margin: 0 var(--spacing-xsmall) !important;
  }

  .graphs {
    overflow: visible !important;
    flex-basis: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    > div {
      display: inline-block;
      margin-right: var(--spacing-xsmall) !important;
      overflow: visible !important;

      > div {
        overflow: visible !important;
      }
    }

    svg > g path[class='highcharts-area'] {
      opacity: 0.05 !important;
    }
  }
}

.nodeDetails {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  margin-top: var(--spacing-small) !important;
  p {
    font-size: var(--font-size-small) !important;
  }

  > div {
    margin-right: var(--spacing-large) !important;

    > p:first-child {
      margin-bottom: var(--spacing-xsmall);
    }
  }
}

.metricRisk {
  border-width: 1px;
  border-style: solid;
  padding: 0 var(--spacing-xsmall) !important;
  height: 24px;
  line-height: 24px !important;
  width: fit-content;
  border-radius: 4px;
}

:global(.metricsGraph_tooltip.highcharts-tooltip) {
  @include common-tooltip-styles;

  min-height: 80%;
}

:global(.metricsGraph_tooltip_onlyTestData.highcharts-tooltip) {
  @include common-tooltip-styles;

  min-height: 60%;
}

:global(.metricsGraph_tooltip.highcharts-tooltip > span),
:global(.metricsGraph_tooltip_onlyTestData.highcharts-tooltip > span) {
  padding-top: var(--spacing-xsmall);
}

:global(.metricsGraph_tooltip.highcharts-tooltip .sectionParent),
:global(.metricsGraph_tooltip_onlyTestData.highcharts-tooltip .sectionParent) {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--spacing-small);
}

:global(.metricsGraph_tooltip.highcharts-tooltip .riskIndicator),
:global(.metricsGraph_tooltip_onlyTestData.highcharts-tooltip .riskIndicator) {
  height: 10px;
  min-width: 10px;
  border-radius: 1px;
}

:global(.metricsGraph_tooltip.highcharts-tooltip p),
:global(.metricsGraph_tooltip_onlyTestData.highcharts-tooltip p) {
  margin-bottom: var(--spacing-tiny);
  margin-top: -2px;
}

:global(.metricsGraph_tooltip.highcharts-tooltip path),
:global(.metricsGraph_tooltip_onlyTestData.highcharts-tooltip path) {
  display: none !important;
}

.showDetailsText {
  color: var(--primary-7) !important;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.analysisReason {
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 18px !important;
  color: var(--grey-800) !important;
}

.metricInfo {
  display: flex !important;
  align-items: center;
}

.node {
  width: 8px;
  height: 8px;
  border: 1px solid;
  border-radius: 1px;
  margin-right: var(--spacing-small) !important;
}

.metricPanelLabels {
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 18px !important;
  color: var(--black) !important;
}

.metricDetails {
  background: #f8f8fe !important;
}
