.folderPathTooltip {
  :global {
    .bp3-popover-wrapper {
      display: flex;
      width: fit-content !important;
    }
  }
}
.folderPathTooltipContent {
}

.folderPathTooltipContent + .folderPathTooltipContent {
  padding-top: var(--spacing-medium);
}
