/*
 * Copyright 2023 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.avatar {
  margin-left: 0px;
}
.payloadBtn {
  color: var(--primary-8) !important;
}
.drawer {
  width: 547px !important;
  .card {
    width: 100%;
    margin-bottom: var(--spacing-medium);
  }
  .marginBottom {
    margin-bottom: 5px;
  }
}
