.table {
  max-height: 350px;
  margin-top: var(--spacing-medium);
  overflow: scroll;
}

.toggleAccordion {
  // to have better click target area for toggle
  padding: var(--spacing-none) var(--spacing-small) !important;
}

.notificationMethod {
  display: inline-block;
}
