.verticalLine {
  height: 40px;
  background-color: var(--primary-4) !important;
  width: 2px;
  border-radius: 10px;
  margin-left: 8px;
}
.verticalLineLayout {
  width: 24px !important;
  border-radius: 5px;
}
