/*
 * Copyright 2023 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.inputsForm {
  background-color: var(--white);
  box-shadow: 0px 0.5px 2px 0px rgba(40, 41, 61, 0.15);
  border-radius: 4px;
  padding: var(--spacing-medium) var(--spacing-xlarge) !important;
}

.inputRow {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: var(--spacing-xlarge);
  padding: var(--spacing-medium) 0;
  padding-right: var(--spacing-medium);

  &.manageInputs {
    grid-template-columns: 40px 1fr 3fr;
  }

  &.rowDisabled {
    opacity: 0.5;
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--grey-200);
    margin-bottom: var(--spacing-medium);
  }
}

.inputRowHeader {
  color: var(--grey-500);
  text-transform: uppercase;
  padding: var(--spacing-small) 0;
  border-bottom: none !important;
}
