.percentageBox {
  box-sizing: border-box !important;
  width: 240px !important;
  height: 200px !important;
  background: #effbff !important;
  border: 1px solid #d9dae5 !important;
  border-radius: 8px !important;
}

.percentageText {
  font-weight: 600 !important;
  font-size: var(--font-size-large) !important;
  line-height: 40px !important;
  color: var(--grey-600) !important;
}

.contentText {
  font-weight: 400 !important;
  font-size: var(--font-size-small) !important;
  line-height: 18px !important;
  color: var(--grey-1000) !important;
}

.isPercentageDiffHigher {
  color: var(--green-700) !important;
}

.isPercentageDiffLower {
  color: var(--red-400) !important;
}
