.closeBtn {
  --text-color: var(--ai-purple-600) !important;
}

.label {
  color: var(--ai-purple-900) !important;
  line-height: 22px !important;
}

.tooltipPadding {
  padding: var(--spacing-small) var(--spacing-small) var(--spacing-medium) var(--spacing-medium) !important;
}

.tooltipContent {
  padding: 0 0 var(--spacing-4) var(--spacing-medium) !important;
}
