/*
 * Copyright 2021 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

:root {
  --main-nav-height: 880px; /* overriden via JS in src/modules/10-common/navigation/MainNav/MainNav.tsx */
  --page-min-height: max(100vh, var(--main-nav-height)); /* take the larger of the screen or the nav */
  --page-header-height: 73px; /* default value. to be override per page */
}

.trialLicenseBanner {
  display: flex;
  align-items: center;
  height: 36px !important;
  min-width: 1000px !important;
}

.expired {
  background-color: var(--red-600) !important;
}

.notExpired {
  background-color: var(--purple-50) !important;
}

.infoIcon {
  color: var(--primary-6) !important;
}

.issueIcon {
  color: var(--white) !important;
}

.whiteColor {
  color: var(--white) !important;
}

.link {
  font-weight: bold;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}

.featuresBanner {
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rhs {
  flex: 1;
  .children {
    min-height: var(--page-min-height);
    background-color: var(--primary-bg);
  }
}

.aux {
  width: 66px;
  padding: 24px 0;
  background: var(--white);
  border-left: 1px solid var(--grey-200);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 100vh;
  position: sticky;
  bottom: 0;
  align-self: flex-end;

  .list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .listItem {
      border: none;
      height: 48px;
      padding: 0 20px;
      background: none;
      cursor: pointer;

      .label {
        font-size: 9px;
        line-height: 15px;
      }
    }

    .copilot {
      &:hover,
      &.open {
        background-color: var(--ai-purple-800);
        color: var(--white);
        svg > path {
          fill: var(--white) !important;
        }
      }
    }
  }
}

.closeChat {
  position: absolute;
  left: -40px;
  height: 40px !important;
  width: 40px !important;
  padding-left: 20px !important;
}

:global {
  .PageBody--pageBody {
    height: unset !important;
    overflow: unset !important;
    display: flex;
    flex-direction: column;
    min-height: calc(var(--page-min-height) - var(--page-header-height)) !important;
  }
  .PageError--pageError {
    margin: auto !important;
  }
}

.main {
  display: grid;
  grid-template-columns: 88px 184px 1fr;

  &.flex {
    display: flex;
  }

  &[data-layout='minimal'] {
    grid-template-columns: 88px 1fr;
  }

  &[data-layout='empty'] {
    grid-template-columns: 1fr;
  }
}

.info {
  background-color: var(--primary-1) !important;
}

.levelUp {
  background-color: var(--orange-50) !important;
}

.overUse {
  background-color: var(--yellow-100) !important;
}

.infoIcon {
  color: var(--primary-6) !important;
}

.btn {
  margin-top: 1px !important;
}
