/*
 * Copyright 2023 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.container {
  display: flex;
  flex-direction: column;
  background: #f5f8fb !important; // this color is not in design system, check with ux
  box-shadow: 0px 4px 8px 0px rgba(96, 97, 112, 0.16), 0px 0px 2px 0px rgba(40, 41, 61, 0.04);
  height: 100vh;
  position: sticky;
  top: 0;
  padding: var(--spacing-medium);
  z-index: 12;

  :global(.bp3-popover-wrapper),
  :global(.bp3-popover-target) {
    display: block !important;
  }

  &.expanded {
    width: 232px !important;
    padding: var(--spacing-medium) !important;
  }

  &.collapsed {
    width: 64px;
    align-items: center;
    padding: var(--spacing-medium) var(--spacing-small);
  }

  &.publicAccessMode {
    justify-content: space-between;
  }

  .section {
    > * {
      &:first-child {
        margin-top: var(--spacing-large) !important;
      }
    }

    > a + div[data-name='nav-border'] {
      display: block;
    }

    div[data-name='nav-border'] {
      margin-top: var(--spacing-large) !important;
      border-bottom: 1px solid var(--grey-200);
      display: none;
    }

    .sectionTitle {
      text-transform: uppercase;
    }

    &:last-child {
      div[data-name='nav-border'] {
        border-bottom: none;
      }
    }
  }
}

.center {
  flex: 1;
  width: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-flow: column;
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.configureNavigation {
  display: flex;
  padding: var(--spacing-small) var(--spacing-medium) !important;
  margin-bottom: var(--spacing-tiny) !important;
  background-color: transparent;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: var(--spacing-xsmall);

  &:hover {
    text-decoration: none;
    color: var(--primary-8);
    background-color: rgba(210, 230, 255);
  }
}
