/*
 * Copyright 2023 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.loopingStrategy {
  position: absolute;
  top: 0;
  left: 5px;
}

.conditional {
  position: absolute;
  top: -1px;
  right: 44px;
  color: var(--white) !important;
}

.switch {
  margin-bottom: 0 !important;
  position: absolute;
  right: -5px;
  top: 5px;
}
