.leftNavigation {
  width: 5%;
  background-color: var(--primary-10) !important;
  height: 100vh;
  overflow-y: scroll;
}

.rightNavigation {
  width: 95% !important;
}

.topHeader {
  box-sizing: border-box !important;
  height: 80px !important;
  background: #ffffff !important;
  border-bottom: 1px solid #d9dae5 !important;
}

.subHeader {
  display: flex;
  justify-content: space-between;
  height: 75px !important;
  background: #ffffff !important;
  border-bottom: 1px solid #d9dae5 !important;
}

.heading {
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 28px !important;
  color: var(--grey-700) !important;
  padding-left: var(--spacing-large) !important;
  padding-top: var(--spacing-xxlarge) !important;
}

.benchmarkDropdown {
  max-width: 349px !important;
  height: 32px !important;
  padding-left: var(--spacing-large) !important;
  padding-top: var(--spacing-small) !important;
}

.scoreDropdown {
  max-width: 156px !important;
  height: 32px !important;
  padding-left: var(--spacing-large) !important;
  padding-top: var(--spacing-small) !important;
}

.scoreLabels {
  font-weight: 500 !important;
  font-size: var(--font-size-small) !important;
  line-height: 18px !important;
  color: var(--grey-800) !important;
}

.surveyTable {
  padding: var(--spacing-large) !important;
}

.questionText {
  font-weight: 500 !important;
  font-size: 13px !important;
  line-height: 20px !important;
  color: #383946 !important;
}

.almostFullScreenCloseBtn:global(.bp3-button.bp3-minimal) {
  position: fixed;
  top: 0;
  right: 40%;
  background: #00ade4 !important;
  color: var(--white) !important;
  border-radius: 4px 0 0 4px !important;
  padding: 0 !important;
  z-index: 99;
}

.drawerHeader {
  height: 138px;
  background: var(--white) !important;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
}

.questionLabel {
  font-weight: 400 !important;
  font-size: 10.6666px !important;
  line-height: 19px !important;
  color: #6b6d85 !important;
}

.questionTextDrawerHeader {
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #383946 !important;
}

.searchInput {
  height: 32px;
  width: 373px;
  margin-top: var(--spacing-large) !important;
  margin-right: var(--spacing-medium) !important;
}

.charts {
  margin: var(--spacing-large) !important;
}

.sideDrawerTitle {
  font-weight: 600 !important;
  font-size: var(--font-size-medium) !important;
  line-height: 24px !important;
  color: var(--grey-700) !important;
}
