:root {
  --right-bar-width: 65px;
}

.closeBtn:global(.bp3-button.bp3-minimal) {
  position: absolute;
  right: 100%;
  top: 0;
  width: 38px !important;
  height: 38px !important;
  max-height: 38px !important;
  background: var(--primary) !important;
  color: var(--white) !important;
  border-radius: 4px 0 0 4px !important;
  padding: 0 !important;
}

.drawerPortal {
  right: var(--right-bar-width);

  & > div {
    pointer-events: none;
    & > div {
      pointer-events: all;
    }
  }
}

.drawer {
  transform: translateX(var(--right-bar-width));
  box-shadow: none;
}

.drawerBackdrop {
  right: var(--right-bar-width);
}
