.resultsContainer {
  display: flex;
  flex-direction: row;
}

.leftNavigation {
  width: 5%;
  background-color: var(--primary-10) !important;
  height: 100vh;
  overflow-y: scroll;
}

.rightNavigation {
  width: 95%;
  background-color: var(--white) !important;
  height: 100vh;
}

.topHeader {
  background: var(--color-white);
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16) !important;
}

.welcomeText {
  font-weight: 600 !important;
  font-size: var(--font-size-medium) !important;
  line-height: 28px !important;
  color: var(--grey-700) !important;
}

.firstCard {
  width: 40%;
  margin-right: var(--spacing-medium);
  height: 251px;
}

.secondCard {
  width: 60%;
  height: 251px;
}

.firstContentCard {
  height: 530px;
  overflow-y: scroll !important;
  margin-bottom: var(--spacing-medium);
}

.detailsCardContentHeading {
  font-weight: 600 !important;
  line-height: 28px !important;
  color: var(--black) !important;
  font-size: var(--font-size-medium) !important;
  padding-bottom: var(--spacing-small) !important;
}

.detailsCardQuestionName {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  width: 321px !important;
  color: var(--black) !important;
  padding-left: var(--spacing-small) !important;
}

.detailsCardContentSubHeading {
  font-weight: 400;
  font-size: var(--font-size-normal) !important;
  line-height: 24px;
}

.secondContentCard {
  height: 530px;
  overflow-y: scroll !important;
}

.firstCardSection {
  width: 50% !important;
}

.secondCardLeftSection {
  width: 30% !important;
}

.recommendationsContainer {
  display: flex;
  flex-direction: column;
}

.recommendationsCardContainer {
  display: flex !important;
  padding: var(--spacing-small) !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  margin: var(--spacing-small) !important;
  height: 130px !important;
}

.scoreLabels {
  font-weight: 500 !important;
  font-size: var(--font-size-small) !important;
  line-height: 18px !important;
  color: var(--grey-800) !important;
}

.fieldInput {
  width: 513px !important;
  margin-top: var(--spacing-small) !important;
}
