/*
 * Copyright 2023 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.container {
  @mixin hover-style {
    text-decoration: none;
    color: var(--primary-8);
    background-color: rgba(210, 230, 255);
  }

  position: relative;
  height: 100px;
  bottom: 0px;
  border-top: 1px solid var(--grey-200);
  .helpLink {
    margin-top: var(--spacing-small);

    &:hover {
      @include hover-style;
    }
    &.public {
      margin-bottom: var(--spacing-small) !important;
    }
  }

  .profileLink {
    cursor: pointer;
    &.active {
      color: var(--primary-8);
      background-color: rgba(210, 230, 255);
    }
    border-radius: 4px;
    &:hover {
      @include hover-style;
    }
  }

  .loginButtonContainer {
    border-top: 1px solid var(--grey-200);
  }

  .loginIcon {
    &:hover {
      @include hover-style;
    }
  }
}

.userProfileContent {
  background-color: var(--white);
  border-radius: 4px;
  width: 300px;

  .signout {
    cursor: pointer;
    svg {
      path {
        fill: var(--red-700);
      }
    }
  }
}

.width100 {
  width: 100%;
  display: flex;
}

.link {
  padding: var(--spacing-small) var(--spacing-medium) !important;
  border-radius: 4px;
  text-decoration: none;
  margin-bottom: var(--spacing-tiny) !important;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: var(--primary-8);
    background-color: rgba(210, 230, 255);
  }

  &.selected {
    background-color: rgba(210, 230, 255);
  }
}

.section {
  border-top: 1px solid var(--grey-200);
}
