/*
 * Copyright 2023 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.container {
  height: 56px;
  border-bottom: 2px solid;
  border-color: var(--primary-6);
  width: 100% !important;

  .harnessLogo {
    svg {
      height: 32px;
    }
  }

  .link {
    text-decoration: none;
  }

  .label {
    line-height: var(--spacing-5) !important;
    font-weight: 600 !important;
  }

  .subtitle {
    position: relative;
    bottom: 4px;
    left: 24px;
  }

  &.admin {
    border-color: var(--purple-700) !important;
    .subtitle {
      color: var(--purple-700);
    }
  }

  &.dashboards {
    border-color: var(--teal-800) !important;
    .subtitle {
      color: var(--teal-800);
    }
  }
}
