.firstStep {
  .heading {
    color: var(--grey-800);
    font-size: var(--font-size-medium);
    letter-spacing: 0;
  }
}

.formElm {
  width: 400px;
}

.fieldsContainer {
  min-height: 460px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: 1fr;
  grid-column-gap: var(--spacing-xlarge);
  grid-row-gap: 0px;
  div.Card--card {
    box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16) !important;
  }
}

.fullHeightDivsWithFlex {
  & > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
