/*
 * Copyright 2021 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.custom-variables {
  position: relative;
  &:nth-child(1) {
    margin-top: -18px !important;
  }
  .header-row {
    display: inline-flex;
    transform: translateY(-44px);
    margin-left: 86%;
    width: 200px;
    height: 0;
    :global(.bp3-button) {
      margin-top: var(--spacing-medium);
    }
  }

  .value-row {
    display: grid;
    align-items: center;
    column-gap: var(--spacing-xsmall);

    & :global(.bp3-form-group) {
      width: 100%;
      margin: 0;
    }

    & :global(.MultiTypeInput--btn) {
      width: 28px !important;
    }
    .runtimeInputButton {
      top: 0px !important;
      height: 22px !important;
      border: solid 1px var(--grey-200) !important;
    }

    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type='number'] {
      -moz-appearance: textfield;
    }
  }
  .compiledModeGrid {
    grid-template-columns: 1fr 2fr !important;
  }

  .variable-list-table {
    padding-block: var(--spacing-small);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 2fr;
    gap: var(--spacing-small);
    align-items: center;
    border-bottom: solid 1px var(--grey-200);
    position: relative;
    &:before {
      position: absolute;
      width: 100%;
      bottom: -1px;
      content: '';
      border-bottom: solid 1px var(--grey-200);
      height: 1px;
      left: 100%;
    }
    &:after {
      position: absolute;
      width: 100%;
      bottom: -1px;
      content: '';
      border-bottom: solid 1px var(--grey-200);
      height: 1px;
      right: 100%;
    }
    :global(.TextInput--main) {
      margin-bottom: 0;
    }
  }

  .configureButton {
    width: 38px;
    align-items: end;
    padding-right: 4px;
    display: grid;
    justify-content: center;
    :global(.bp3-button) {
      margin-top: -5px;
      color: var(--grey-450) !important;
    }
  }
  .actionButtons {
    display: grid;
    grid-template-columns: repeat(3, 30px);

    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    button {
      margin-left: var(--spacing-small);
      border-radius: var(--spacing-xxlarge) !important;
      padding: 0 !important;
      vertical-align: initial;
    }
  }
}

.subHeader {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 2fr;
  gap: var(--spacing-small);
  align-items: center;
  margin: var(--spacing-medium) 0 var(--spacing-large) 0;
  text-transform: uppercase;
}

.secret-container {
  position: relative;
  padding: var(--spacing-large) 0 0;
  .fixed {
    position: absolute;
    top: 0;
    right: 0;
  }
  .icon {
    cursor: pointer;
  }
}

.custom-variables-stage {
  margin-top: var(--spacing-medium);
  width: 100%;

  .table-row {
    display: grid;
    grid-template-columns: 2fr 0.5fr 3fr;
    column-gap: var(--spacing-8);
    margin-bottom: var(--spacing-xlarge);
    align-items: flex-start;

    & :global(.bp3-form-group) {
      margin: 0;
    }

    .value-string {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-top: var(--spacing-small);
    }

    .value-column {
      display: grid;
      grid-template-columns: 1fr 90px;
      &[data-type='RUNTIME'] {
        grid-template-columns: 1fr 45px 90px;
      }
      :global(.TextInput--main) {
        margin-bottom: 0 !important;
      }
    }

    .actionButtons {
      display: flex;
      justify-content: flex-end;
      column-gap: var(--spacing-xsmall);
    }

    &:last-of-type,
    &.header-row {
      padding-bottom: var(--spacing-medium);
      border-bottom: 1px solid var(--grey-100);
    }

    &.header-row {
      font-style: normal;
      font-weight: 600;
      font-size: var(--font-size-xsmall);
      letter-spacing: 0.2px;
      color: var(--grey-600);
      text-transform: uppercase;
    }
  }
}

.addVariable {
  padding: 0px !important;
}

.tooltip {
  display: block;
  padding: var(--spacing-small);
}

.buttonsActions {
  &:hover path {
    stroke: var(--primary-6) !important;
  }
}

.custom-variables-input-sets {
  padding: var(--spacing-large);
  margin: 0 var(--spacing-large);
  background-color: var(--white);
  border: 1px solid var(--grey-200);
  border-radius: var(--spacing-2);

  .variable-list-table {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    margin-top: var(--spacing-xlarge);
    column-gap: var(--spacing-small);

    & > p {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .inputSetValueRow {
      :global(.bp3-form-group) {
        margin: 0;
      }
    }
  }
}
.selectedSearchText {
  background-color: var(--yellow-300);
}
.selectedSearchTextValueRow {
  :global(.bp3-form-group) {
    border: solid 2px var(--yellow-300) !important;
  }

  &:global(.selected-search-text) {
    :global(.bp3-form-group) {
      border: solid 2px var(--orange-400) !important;
    }
  }
}

.currentSelection {
  background-color: var(--orange-400);
  padding: 0px 2px;
}

.copyTextRow {
  margin: var(--spacing-small) 0;

  :global {
    .bp3-form-group {
      margin: 0;
    }
  }
}

.copyTextInput {
  input[type='text'] {
    height: 22px !important;

    &:hover {
      border-color: var(--primary-6) !important;
    }
  }
}

.copyTextPopoverWrapper {
  position: absolute;
  right: 1px;
  top: 1px;
  bottom: 1px;

  &::before {
    height: 20px !important;
  }

  &::after {
    height: 20px !important;
  }

  :global {
    .bp3-button {
      height: 20px !important;
    }
  }
}

.variableNameCell {
  background: var(--primary-bg) !important;
  box-sizing: border-box;
  border-radius: var(--spacing-2);
}

.hoveredRow {
  background-color: var(--primary-1);
}

.requiredCheckboxLabel {
  color: var(--grey-600) !important;
  font-size: var(--form-input-font-size) !important;
  font-weight: 500 !important;
}

.nameTypeColumn {
  max-width: 80%;
}

.variableDescription {
  :global {
    textarea {
      min-height: 38px !important;
      max-height: 108px !important;
      resize: vertical;
    }
  }
}

.descriptionContent {
  width: fit-content;
}
.nonCompiledModeGridValueRow {
  grid-template-columns: 1fr auto;
}
