.popoverContainer {
  box-shadow: var(--elevation-4) !important;
  overflow: hidden;
}

.selectContainer {
  color: var(--grey-900);
  border: 1px solid var(--grey-200);
  padding: var(--spacing-small);
  border-radius: 4px;
  white-space: nowrap;
  display: flex;
  width: calc(100% - 42px);
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 34px;
  background-color: var(--white);
  margin-bottom: var(--spacing-medium) !important;
}

.option {
  min-height: 64px;
  padding: var(--spacing-small) var(--spacing-large) !important;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-1);
  }
}

.menuContainer {
  width: 470px !important;
  height: 400px !important;
  overflow: auto;
}
