{
  "swagger": "2.0",
  "info": {
    "title": "Harness Security Test Orchestration API",
    "description": "Read and manage Security Test results. This API is in beta and is liable to change until it reaches 1.0.0.",
    "version": "0.1.0-beta"
  },
  "host": "app.harness.io",
  "consumes": ["application/json", "application/xml", "application/gob"],
  "produces": ["application/json", "application/xml", "application/gob"],
  "paths": {
    "/api/usage": {
      "get": {
        "tags": ["Usage"],
        "description": "Report usage\n\n**Required security scopes for jwt**:\n  * `core_account_view`",
        "operationId": "Usage#ReportUsage",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          { "name": "timestamp", "in": "query", "description": "Timestamp", "required": true, "type": "integer" },
          { "name": "Authorization", "in": "header", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/UsageReportUsageResponseBody",
              "required": ["accountIdentifier", "module", "timestamp", "activeDevelopers", "activeScans"]
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/UsageReportUsageInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      }
    },
    "/api/v1/token": {
      "get": {
        "tags": ["TokenV1"],
        "description": "Issue a cross-service token",
        "operationId": "TokenV1#IssueTokenV1",
        "produces": ["text/plain"],
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "X-Harness-Token",
            "in": "header",
            "description": "Harness internal shared secret",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": { "description": "OK response.", "schema": { "type": "string" } },
          "400": {
            "description": "Bad Request response.",
            "schema": { "$ref": "#/definitions/TokenV1IssueTokenV1BadRequestResponseBody", "required": ["message"] }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": { "$ref": "#/definitions/TokenV1IssueTokenV1UnauthorizedResponseBody", "required": ["message"] }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": { "$ref": "#/definitions/TokenV1IssueTokenV1ForbiddenResponseBody", "required": ["message"] }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/TokenV1IssueTokenV1InternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "X-Harness-Token_header_X-Harness-Token": [] }]
      }
    },
    "/api/v2/exemptions": {
      "get": {
        "tags": ["Exemptions"],
        "description": "List a collection of Exemptions\n\n**Required security scopes for jwt**:\n  * `sto_exemption_view`",
        "operationId": "Exemptions#ListExemptions",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to fetch (starting from 0)",
            "required": false,
            "type": "integer",
            "default": 0,
            "minimum": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results per page",
            "required": false,
            "type": "integer",
            "default": 30,
            "maximum": 100,
            "minimum": 1
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsListExemptionsResponseBody",
              "required": ["results", "pagination"]
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsListExemptionsBadRequestResponseBody",
              "required": ["message"]
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsListExemptionsUnauthorizedResponseBody",
              "required": ["message"]
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": { "$ref": "#/definitions/ExemptionsListExemptionsForbiddenResponseBody", "required": ["message"] }
          },
          "404": {
            "description": "Not Found response.",
            "schema": { "$ref": "#/definitions/ExemptionsListExemptionsNotFoundResponseBody", "required": ["message"] }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsListExemptionsInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      },
      "post": {
        "tags": ["Exemptions"],
        "description": "Create a new Exemption\n\n**Required security scopes for jwt**:\n  * `sto_exemption_create`",
        "operationId": "Exemptions#CreateExemption",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "orgId",
            "in": "query",
            "description": "ID of the Harness Organization to which the exemption applies. Cannot be specified alongside \"targetId\".",
            "required": false,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "ID of the Harness Project to which the exemption applies. You must also specify \"orgId\". Cannot be specified alongside \"targetId\".",
            "required": false,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" },
          {
            "name": "CreateExemptionRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExemptionsCreateExemptionRequestBody",
              "required": ["reason", "requesterId", "issueId", "type", "status", "id", "created", "lastModified"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": { "$ref": "#/definitions/ExemptionsCreateExemptionResponseBody", "required": ["id"] }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsCreateExemptionBadRequestResponseBody",
              "required": ["message"]
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsCreateExemptionUnauthorizedResponseBody",
              "required": ["message"]
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsCreateExemptionForbiddenResponseBody",
              "required": ["message"]
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsCreateExemptionInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      }
    },
    "/api/v2/exemptions/{id}": {
      "get": {
        "tags": ["Exemptions"],
        "description": "Find Exemption by ID\n\n**Required security scopes for jwt**:\n  * `sto_exemption_view`",
        "operationId": "Exemptions#FindExemptionById",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Exemption to retrieve",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsFindExemptionByIDResponseBody",
              "required": ["id", "issueId", "type", "reason", "requesterId", "status", "created", "lastModified"]
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsFindExemptionByIDBadRequestResponseBody",
              "required": ["message"]
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsFindExemptionByIDUnauthorizedResponseBody",
              "required": ["message"]
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsFindExemptionByIDForbiddenResponseBody",
              "required": ["message"]
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsFindExemptionByIDNotFoundResponseBody",
              "required": ["message"]
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsFindExemptionByIDInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      },
      "put": {
        "tags": ["Exemptions"],
        "description": "Update an existing Exemption\n\n**Required security scopes for jwt**:\n  * `sto_exemption_create`",
        "operationId": "Exemptions#UpdateExemption",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "orgId",
            "in": "query",
            "description": "ID of the Harness Organization to which the exemption applies. Cannot be specified alongside \"targetId\".",
            "required": false,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "ID of the Harness Project to which the exemption applies. You must also specify \"orgId\". Cannot be specified alongside \"targetId\".",
            "required": false,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Exemption to update",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" },
          {
            "name": "UpdateExemptionRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExemptionsUpdateExemptionRequestBody",
              "required": ["reason", "requesterId", "issueId", "type", "status", "created", "lastModified"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsUpdateExemptionResponseBody",
              "required": ["id", "issueId", "type", "reason", "requesterId", "status", "created", "lastModified"]
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsUpdateExemptionBadRequestResponseBody",
              "required": ["message"]
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsUpdateExemptionUnauthorizedResponseBody",
              "required": ["message"]
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsUpdateExemptionForbiddenResponseBody",
              "required": ["message"]
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": { "$ref": "#/definitions/ExemptionsUpdateExemptionNotFoundResponseBody", "required": ["message"] }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsUpdateExemptionInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      },
      "delete": {
        "tags": ["Exemptions"],
        "description": "Delete an existing Exemption\n\n**Required security scopes for jwt**:\n  * `sto_exemption_create`",
        "operationId": "Exemptions#DeleteExemption",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "orgId",
            "in": "query",
            "description": "Harness Organization ID",
            "required": false,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Harness Project ID",
            "required": false,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Exemption to delete",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" }
        ],
        "responses": {
          "204": { "description": "No Content response." },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsDeleteExemptionBadRequestResponseBody",
              "required": ["message"]
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsDeleteExemptionUnauthorizedResponseBody",
              "required": ["message"]
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsDeleteExemptionForbiddenResponseBody",
              "required": ["message"]
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": { "$ref": "#/definitions/ExemptionsDeleteExemptionNotFoundResponseBody", "required": ["message"] }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsDeleteExemptionInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      }
    },
    "/api/v2/exemptions/{id}/{action}": {
      "put": {
        "tags": ["Exemptions"],
        "description": "Approve/reject an existing Exemption\n\n**Required security scopes for jwt**:\n  * `sto_exemption_approve`",
        "operationId": "Exemptions#ApproveExemption",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "orgId",
            "in": "query",
            "description": "Harness Organization ID",
            "required": false,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Harness Project ID",
            "required": false,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Exemption to update",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "action",
            "in": "path",
            "description": "The approval action to take on the Exemption",
            "required": true,
            "type": "string",
            "enum": ["approve", "reject"]
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" },
          {
            "name": "ApproveExemptionRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExemptionsApproveExemptionRequestBody",
              "required": [
                "approverId",
                "reason",
                "requesterId",
                "issueId",
                "type",
                "status",
                "created",
                "lastModified"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsApproveExemptionResponseBody",
              "required": ["id", "issueId", "type", "reason", "requesterId", "status", "created", "lastModified"]
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsApproveExemptionBadRequestResponseBody",
              "required": ["message"]
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsApproveExemptionUnauthorizedResponseBody",
              "required": ["message"]
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsApproveExemptionForbiddenResponseBody",
              "required": ["message"]
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsApproveExemptionNotFoundResponseBody",
              "required": ["message"]
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/ExemptionsApproveExemptionInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      }
    },
    "/api/v2/frontend/issue-counts": {
      "get": {
        "tags": ["Frontend"],
        "description": "Returns counts of active Security Issues for one or more Pipeline Executions\n\n**Required security scopes for jwt**:\n  * `sto_issue_view`",
        "operationId": "Frontend#ExecutionIssueCounts",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "orgId",
            "in": "query",
            "description": "Harness Organization ID",
            "required": false,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Harness Project ID",
            "required": false,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "executionIds",
            "in": "query",
            "description": "Comma-separated list of Harness Execution IDs for which to count Security Issues",
            "required": true,
            "type": "string",
            "pattern": "[\\dA-Za-z_-]{22}(,[\\dA-Za-z_-]{22})*"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": { "type": "object", "additionalProperties": { "$ref": "#/definitions/IssueCounts" } }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/FrontendExecutionIssueCountsBadRequestResponseBody",
              "required": ["message"]
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/FrontendExecutionIssueCountsUnauthorizedResponseBody",
              "required": ["message"]
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/FrontendExecutionIssueCountsForbiddenResponseBody",
              "required": ["message"]
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/FrontendExecutionIssueCountsNotFoundResponseBody",
              "required": ["message"]
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/FrontendExecutionIssueCountsInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      }
    },
    "/api/v2/frontend/overview": {
      "get": {
        "tags": ["Frontend"],
        "description": "Provides data needed by the Overview page\n\n**Required security scopes for jwt**:\n  * `sto_issue_view`",
        "operationId": "Frontend#Overview",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "orgId",
            "in": "query",
            "description": "Harness Organization ID",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Harness Project ID",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "days",
            "in": "query",
            "description": "Number of days of Baseline Issue counts to return",
            "required": false,
            "type": "integer",
            "default": 30,
            "maximum": 90,
            "minimum": 1
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": { "$ref": "#/definitions/FrontendOverviewResponseBody", "required": ["historicalCounts"] }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": { "$ref": "#/definitions/FrontendOverviewBadRequestResponseBody", "required": ["message"] }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": { "$ref": "#/definitions/FrontendOverviewUnauthorizedResponseBody", "required": ["message"] }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": { "$ref": "#/definitions/FrontendOverviewForbiddenResponseBody", "required": ["message"] }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/FrontendOverviewInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      }
    },
    "/api/v2/frontend/pipeline-security": {
      "get": {
        "tags": ["Frontend"],
        "description": "Provide data needed by the PipelineSecurityView\n\n**Required security scopes for jwt**:\n  * `sto_issue_view`",
        "operationId": "Frontend#PipelineSecurity",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "orgId",
            "in": "query",
            "description": "Harness Organization ID",
            "required": false,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Harness Project ID",
            "required": false,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "executionId",
            "in": "query",
            "description": "Harness Execution ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": { "$ref": "#/definitions/FrontendPipelineSecurityResponseBody", "required": ["steps"] }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/FrontendPipelineSecurityBadRequestResponseBody",
              "required": ["message"]
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/FrontendPipelineSecurityUnauthorizedResponseBody",
              "required": ["message"]
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": { "$ref": "#/definitions/FrontendPipelineSecurityForbiddenResponseBody", "required": ["message"] }
          },
          "404": {
            "description": "Not Found response.",
            "schema": { "$ref": "#/definitions/FrontendPipelineSecurityNotFoundResponseBody", "required": ["message"] }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/FrontendPipelineSecurityInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      }
    },
    "/api/v2/frontend/security-review": {
      "get": {
        "tags": ["Frontend"],
        "description": "Provides data needed by the Security Review page\n\n**Required security scopes for jwt**:\n  * `sto_exemption_view`",
        "operationId": "Frontend#SecurityReview",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "orgId",
            "in": "query",
            "description": "Harness Organization ID",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Harness Project ID",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": { "$ref": "#/definitions/FrontendSecurityReviewResponseBody", "required": ["exemptions"] }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": { "$ref": "#/definitions/FrontendSecurityReviewBadRequestResponseBody", "required": ["message"] }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/FrontendSecurityReviewUnauthorizedResponseBody",
              "required": ["message"]
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": { "$ref": "#/definitions/FrontendSecurityReviewForbiddenResponseBody", "required": ["message"] }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/FrontendSecurityReviewInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      }
    },
    "/api/v2/frontend/test-targets": {
      "get": {
        "tags": ["Frontend"],
        "description": "Provides data needed by the Test Targets page\n\n**Required security scopes for jwt**:\n  * `sto_testtarget_view`",
        "operationId": "Frontend#TestTargets",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "orgId",
            "in": "query",
            "description": "Harness Organization ID",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Harness Project ID",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": { "$ref": "#/definitions/FrontendTestTargetsResponseBody", "required": ["targets"] }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": { "$ref": "#/definitions/FrontendTestTargetsBadRequestResponseBody", "required": ["message"] }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": { "$ref": "#/definitions/FrontendTestTargetsUnauthorizedResponseBody", "required": ["message"] }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": { "$ref": "#/definitions/FrontendTestTargetsForbiddenResponseBody", "required": ["message"] }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/FrontendTestTargetsInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      }
    },
    "/api/v2/issues": {
      "get": {
        "tags": ["Issues"],
        "description": "List a collection of Security Issues\n\n**Required security scopes for jwt**:\n  * `sto_issue_view`",
        "operationId": "Issues#ListIssues",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to fetch (starting from 0)",
            "required": false,
            "type": "integer",
            "default": 0,
            "minimum": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results per page",
            "required": false,
            "type": "integer",
            "default": 30,
            "maximum": 100,
            "minimum": 1
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": { "$ref": "#/definitions/IssuesListIssuesResponseBody", "required": ["results", "pagination"] }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": { "$ref": "#/definitions/IssuesListIssuesBadRequestResponseBody", "required": ["message"] }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": { "$ref": "#/definitions/IssuesListIssuesUnauthorizedResponseBody", "required": ["message"] }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": { "$ref": "#/definitions/IssuesListIssuesForbiddenResponseBody", "required": ["message"] }
          },
          "404": {
            "description": "Not Found response.",
            "schema": { "$ref": "#/definitions/IssuesListIssuesNotFoundResponseBody", "required": ["message"] }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/IssuesListIssuesInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      },
      "post": {
        "tags": ["Issues"],
        "description": "Create a new Security Issue\n\n**Required security scopes for jwt**:\n  * `sto_issue_edit`",
        "operationId": "Issues#CreateIssue",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" },
          {
            "name": "CreateIssueRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IssuesCreateIssueRequestBody",
              "required": [
                "title",
                "key",
                "severity",
                "severityCode",
                "productId",
                "details",
                "scanId",
                "keyPattern",
                "id",
                "created"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": { "$ref": "#/definitions/IssuesCreateIssueResponseBody", "required": ["id"] }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": { "$ref": "#/definitions/IssuesCreateIssueBadRequestResponseBody", "required": ["message"] }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": { "$ref": "#/definitions/IssuesCreateIssueUnauthorizedResponseBody", "required": ["message"] }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": { "$ref": "#/definitions/IssuesCreateIssueForbiddenResponseBody", "required": ["message"] }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/IssuesCreateIssueInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      }
    },
    "/api/v2/issues/{id}": {
      "get": {
        "tags": ["Issues"],
        "description": "Find Security Issue by ID\n\n**Required security scopes for jwt**:\n  * `sto_issue_view`",
        "operationId": "Issues#FindIssueById",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "orgId",
            "in": "query",
            "description": "Harness Organization ID",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Harness Project ID",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "targetId",
            "in": "query",
            "description": "Associated Target ID",
            "required": false,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Security Issue to retrieve",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IssuesFindIssueByIDResponseBody",
              "required": ["id", "title", "key", "severity", "severityCode", "productId", "details", "created"]
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": { "$ref": "#/definitions/IssuesFindIssueByIDBadRequestResponseBody", "required": ["message"] }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": { "$ref": "#/definitions/IssuesFindIssueByIDUnauthorizedResponseBody", "required": ["message"] }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": { "$ref": "#/definitions/IssuesFindIssueByIDForbiddenResponseBody", "required": ["message"] }
          },
          "404": {
            "description": "Not Found response.",
            "schema": { "$ref": "#/definitions/IssuesFindIssueByIDNotFoundResponseBody", "required": ["message"] }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/IssuesFindIssueByIDInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      },
      "delete": {
        "tags": ["Issues"],
        "description": "Delete an existing Security Issue\n\n**Required security scopes for jwt**:\n  * `sto_issue_delete`",
        "operationId": "Issues#DeleteIssue",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Security Issue to delete",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" }
        ],
        "responses": {
          "204": { "description": "No Content response." },
          "400": {
            "description": "Bad Request response.",
            "schema": { "$ref": "#/definitions/IssuesDeleteIssueBadRequestResponseBody", "required": ["message"] }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": { "$ref": "#/definitions/IssuesDeleteIssueUnauthorizedResponseBody", "required": ["message"] }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": { "$ref": "#/definitions/IssuesDeleteIssueForbiddenResponseBody", "required": ["message"] }
          },
          "404": {
            "description": "Not Found response.",
            "schema": { "$ref": "#/definitions/IssuesDeleteIssueNotFoundResponseBody", "required": ["message"] }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/IssuesDeleteIssueInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      }
    },
    "/api/v2/products": {
      "get": {
        "tags": ["Products"],
        "description": "List a collection of Scan Tools\n\n**Required security scopes for jwt**:\n  * `sto_products_view`",
        "operationId": "Products#ListProducts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to fetch (starting from 0)",
            "required": false,
            "type": "integer",
            "default": 0,
            "minimum": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results per page",
            "required": false,
            "type": "integer",
            "default": 30,
            "maximum": 100,
            "minimum": 1
          },
          { "name": "name", "in": "query", "description": "Resource name", "required": false, "type": "string" },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/ProductsListProductsResponseBody",
              "required": ["results", "pagination"]
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": { "$ref": "#/definitions/ProductsListProductsBadRequestResponseBody", "required": ["message"] }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": { "$ref": "#/definitions/ProductsListProductsUnauthorizedResponseBody", "required": ["message"] }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": { "$ref": "#/definitions/ProductsListProductsForbiddenResponseBody", "required": ["message"] }
          },
          "404": {
            "description": "Not Found response.",
            "schema": { "$ref": "#/definitions/ProductsListProductsNotFoundResponseBody", "required": ["message"] }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/ProductsListProductsInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      }
    },
    "/api/v2/products/{id}": {
      "get": {
        "tags": ["Products"],
        "description": "Find Scan Tool by ID\n\n**Required security scopes for jwt**:\n  * `sto_products_view`",
        "operationId": "Products#FindProductById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Scan Tool to retrieve",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/ProductsFindProductByIDResponseBody",
              "required": ["id", "name", "description", "isEnabled", "created", "lastModified"]
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": { "$ref": "#/definitions/ProductsFindProductByIDBadRequestResponseBody", "required": ["message"] }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/ProductsFindProductByIDUnauthorizedResponseBody",
              "required": ["message"]
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": { "$ref": "#/definitions/ProductsFindProductByIDForbiddenResponseBody", "required": ["message"] }
          },
          "404": {
            "description": "Not Found response.",
            "schema": { "$ref": "#/definitions/ProductsFindProductByIDNotFoundResponseBody", "required": ["message"] }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/ProductsFindProductByIDInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      }
    },
    "/api/v2/scans": {
      "get": {
        "tags": ["Scans"],
        "description": "List a collection of Security Test Scans\n\n**Required security scopes for jwt**:\n  * `sto_scan_view`",
        "operationId": "Scans#ListScans",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to fetch (starting from 0)",
            "required": false,
            "type": "integer",
            "default": 0,
            "minimum": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results per page",
            "required": false,
            "type": "integer",
            "default": 30,
            "maximum": 100,
            "minimum": 1
          },
          {
            "name": "executionId",
            "in": "query",
            "description": "Harness Execution ID",
            "required": false,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": { "$ref": "#/definitions/ScansListScansResponseBody", "required": ["results", "pagination"] }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": { "$ref": "#/definitions/ScansListScansBadRequestResponseBody", "required": ["message"] }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": { "$ref": "#/definitions/ScansListScansUnauthorizedResponseBody", "required": ["message"] }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": { "$ref": "#/definitions/ScansListScansForbiddenResponseBody", "required": ["message"] }
          },
          "404": {
            "description": "Not Found response.",
            "schema": { "$ref": "#/definitions/ScansListScansNotFoundResponseBody", "required": ["message"] }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": { "$ref": "#/definitions/ScansListScansInternalServerErrorResponseBody", "required": ["message"] }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      },
      "post": {
        "tags": ["Scans"],
        "description": "Create a new Security Test Scan\n\n**Required security scopes for jwt**:\n  * `sto_scan_edit`",
        "operationId": "Scans#CreateScan",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" },
          {
            "name": "CreateScanRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScansCreateScanRequestBody",
              "required": [
                "targetVariantId",
                "orgId",
                "projectId",
                "pipelineId",
                "executionId",
                "stageId",
                "stepId",
                "productId",
                "status",
                "refinementVersion",
                "id",
                "created",
                "lastModified"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": { "$ref": "#/definitions/ScansCreateScanResponseBody", "required": ["id"] }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": { "$ref": "#/definitions/ScansCreateScanBadRequestResponseBody", "required": ["message"] }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": { "$ref": "#/definitions/ScansCreateScanUnauthorizedResponseBody", "required": ["message"] }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": { "$ref": "#/definitions/ScansCreateScanForbiddenResponseBody", "required": ["message"] }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/ScansCreateScanInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      }
    },
    "/api/v2/scans/{id}": {
      "get": {
        "tags": ["Scans"],
        "description": "Find Security Test Scan by ID\n\n**Required security scopes for jwt**:\n  * `sto_scan_view`",
        "operationId": "Scans#FindScanById",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Security Test Scan to retrieve",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/ScansFindScanByIDResponseBody",
              "required": [
                "id",
                "targetVariantId",
                "orgId",
                "projectId",
                "pipelineId",
                "executionId",
                "stageId",
                "stepId",
                "productId",
                "status",
                "refinementVersion",
                "created",
                "lastModified"
              ]
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": { "$ref": "#/definitions/ScansFindScanByIDBadRequestResponseBody", "required": ["message"] }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": { "$ref": "#/definitions/ScansFindScanByIDUnauthorizedResponseBody", "required": ["message"] }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": { "$ref": "#/definitions/ScansFindScanByIDForbiddenResponseBody", "required": ["message"] }
          },
          "404": {
            "description": "Not Found response.",
            "schema": { "$ref": "#/definitions/ScansFindScanByIDNotFoundResponseBody", "required": ["message"] }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/ScansFindScanByIDInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      },
      "put": {
        "tags": ["Scans"],
        "description": "Update an existing Security Test Scan\n\n**Required security scopes for jwt**:\n  * `sto_scan_edit`",
        "operationId": "Scans#UpdateScan",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Security Test Scan to update",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" },
          {
            "name": "UpdateScanRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScansUpdateScanRequestBody",
              "required": [
                "targetVariantId",
                "orgId",
                "projectId",
                "pipelineId",
                "executionId",
                "stageId",
                "stepId",
                "productId",
                "status",
                "refinementVersion",
                "created",
                "lastModified"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/ScansUpdateScanResponseBody",
              "required": [
                "id",
                "targetVariantId",
                "orgId",
                "projectId",
                "pipelineId",
                "executionId",
                "stageId",
                "stepId",
                "productId",
                "status",
                "refinementVersion",
                "created",
                "lastModified"
              ]
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": { "$ref": "#/definitions/ScansUpdateScanBadRequestResponseBody", "required": ["message"] }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": { "$ref": "#/definitions/ScansUpdateScanUnauthorizedResponseBody", "required": ["message"] }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": { "$ref": "#/definitions/ScansUpdateScanForbiddenResponseBody", "required": ["message"] }
          },
          "404": {
            "description": "Not Found response.",
            "schema": { "$ref": "#/definitions/ScansUpdateScanNotFoundResponseBody", "required": ["message"] }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/ScansUpdateScanInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      },
      "delete": {
        "tags": ["Scans"],
        "description": "Delete an existing Security Test Scan\n\n**Required security scopes for jwt**:\n  * `sto_scan_delete`",
        "operationId": "Scans#DeleteScan",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Security Test Scan to delete",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" }
        ],
        "responses": {
          "204": { "description": "No Content response." },
          "400": {
            "description": "Bad Request response.",
            "schema": { "$ref": "#/definitions/ScansDeleteScanBadRequestResponseBody", "required": ["message"] }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": { "$ref": "#/definitions/ScansDeleteScanUnauthorizedResponseBody", "required": ["message"] }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": { "$ref": "#/definitions/ScansDeleteScanForbiddenResponseBody", "required": ["message"] }
          },
          "404": {
            "description": "Not Found response.",
            "schema": { "$ref": "#/definitions/ScansDeleteScanNotFoundResponseBody", "required": ["message"] }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/ScansDeleteScanInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      }
    },
    "/api/v2/scans/{id}/issue/{issueId}": {
      "get": {
        "tags": ["Scans"],
        "description": "Returns a scan specific issue\n\n**Required security scopes for jwt**:\n  * `sto_issue_view`",
        "operationId": "Scans#ScanIssue",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Security Test Scan",
            "required": true,
            "type": "string"
          },
          {
            "name": "issueId",
            "in": "path",
            "description": "The ID of the Security Test Issue",
            "required": true,
            "type": "string"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/ScansScanIssueResponseBody",
              "required": ["id", "title", "key", "severity", "severityCode", "productId", "details", "created"]
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": { "$ref": "#/definitions/ScansScanIssueBadRequestResponseBody", "required": ["message"] }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": { "$ref": "#/definitions/ScansScanIssueUnauthorizedResponseBody", "required": ["message"] }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": { "$ref": "#/definitions/ScansScanIssueForbiddenResponseBody", "required": ["message"] }
          },
          "404": {
            "description": "Not Found response.",
            "schema": { "$ref": "#/definitions/ScansScanIssueNotFoundResponseBody", "required": ["message"] }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": { "$ref": "#/definitions/ScansScanIssueInternalServerErrorResponseBody", "required": ["message"] }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      }
    },
    "/api/v2/scans/{id}/issues/counts": {
      "get": {
        "tags": ["Scans"],
        "description": "Returns counts of active Security Issues for a Security Test Scan\n\n**Required security scopes for jwt**:\n  * `sto_issue_view`",
        "operationId": "Scans#ScanIssueCounts",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "orgId",
            "in": "query",
            "description": "Harness Organization ID",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Harness Project ID",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Security Test Scan for which to count issues",
            "required": true,
            "type": "string"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/ScansScanIssueCountsResponseBody",
              "required": [
                "critical",
                "newCritical",
                "high",
                "newHigh",
                "medium",
                "newMedium",
                "low",
                "newLow",
                "info",
                "newInfo",
                "unassigned",
                "newUnassigned",
                "ignored"
              ]
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": { "$ref": "#/definitions/ScansScanIssueCountsBadRequestResponseBody", "required": ["message"] }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": { "$ref": "#/definitions/ScansScanIssueCountsUnauthorizedResponseBody", "required": ["message"] }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": { "$ref": "#/definitions/ScansScanIssueCountsForbiddenResponseBody", "required": ["message"] }
          },
          "404": {
            "description": "Not Found response.",
            "schema": { "$ref": "#/definitions/ScansScanIssueCountsNotFoundResponseBody", "required": ["message"] }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/ScansScanIssueCountsInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      }
    },
    "/api/v2/system/health": {
      "get": {
        "tags": ["System"],
        "description": "Check service health",
        "operationId": "System#health",
        "responses": {
          "204": { "description": "Service is healthy." },
          "500": {
            "description": "Internal Server Error response.",
            "schema": { "$ref": "#/definitions/SystemHealthInternalServerErrorResponseBody", "required": ["message"] }
          }
        },
        "schemes": ["https"]
      }
    },
    "/api/v2/system/version": {
      "get": {
        "tags": ["System"],
        "description": "Get service version",
        "operationId": "System#version",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": { "$ref": "#/definitions/SystemVersionResponseBody", "required": ["version", "commit"] }
          }
        },
        "schemes": ["https"]
      }
    },
    "/api/v2/targets": {
      "get": {
        "tags": ["Targets"],
        "description": "List a collection of Scan Targets\n\n**Required security scopes for jwt**:\n  * `sto_testtarget_view`",
        "operationId": "Targets#ListTargets",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to fetch (starting from 0)",
            "required": false,
            "type": "integer",
            "default": 0,
            "minimum": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results per page",
            "required": false,
            "type": "integer",
            "default": 30,
            "maximum": 100,
            "minimum": 1
          },
          { "name": "name", "in": "query", "description": "Resource name", "required": false, "type": "string" },
          {
            "name": "orgId",
            "in": "query",
            "description": "Harness Organization ID",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Harness Project ID",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": { "$ref": "#/definitions/TargetsListTargetsResponseBody", "required": ["results", "pagination"] }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": { "$ref": "#/definitions/TargetsListTargetsBadRequestResponseBody", "required": ["message"] }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": { "$ref": "#/definitions/TargetsListTargetsUnauthorizedResponseBody", "required": ["message"] }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": { "$ref": "#/definitions/TargetsListTargetsForbiddenResponseBody", "required": ["message"] }
          },
          "404": {
            "description": "Not Found response.",
            "schema": { "$ref": "#/definitions/TargetsListTargetsNotFoundResponseBody", "required": ["message"] }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/TargetsListTargetsInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      },
      "post": {
        "tags": ["Targets"],
        "description": "Create a new Scan Target\n\n**Required security scopes for jwt**:\n  * `sto_testtarget_edit`",
        "operationId": "Targets#CreateTarget",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "orgId",
            "in": "query",
            "description": "Harness Organization ID",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Harness Project ID",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" },
          {
            "name": "CreateTargetRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TargetsCreateTargetRequestBody",
              "required": ["id", "created", "lastModified", "name", "type"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": { "$ref": "#/definitions/TargetsCreateTargetResponseBody", "required": ["id"] }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": { "$ref": "#/definitions/TargetsCreateTargetBadRequestResponseBody", "required": ["message"] }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": { "$ref": "#/definitions/TargetsCreateTargetUnauthorizedResponseBody", "required": ["message"] }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": { "$ref": "#/definitions/TargetsCreateTargetForbiddenResponseBody", "required": ["message"] }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/TargetsCreateTargetInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      }
    },
    "/api/v2/targets/{id}": {
      "get": {
        "tags": ["Targets"],
        "description": "Find Scan Target by ID\n\n**Required security scopes for jwt**:\n  * `sto_testtarget_view`",
        "operationId": "Targets#FindTargetById",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "orgId",
            "in": "query",
            "description": "Harness Organization ID",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Harness Project ID",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Scan Target to retrieve",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/TargetsFindTargetByIDResponseBody",
              "required": ["id", "name", "type", "orgId", "projectId", "created", "lastModified"]
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": { "$ref": "#/definitions/TargetsFindTargetByIDBadRequestResponseBody", "required": ["message"] }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": { "$ref": "#/definitions/TargetsFindTargetByIDUnauthorizedResponseBody", "required": ["message"] }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": { "$ref": "#/definitions/TargetsFindTargetByIDForbiddenResponseBody", "required": ["message"] }
          },
          "404": {
            "description": "Not Found response.",
            "schema": { "$ref": "#/definitions/TargetsFindTargetByIDNotFoundResponseBody", "required": ["message"] }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/TargetsFindTargetByIDInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      },
      "put": {
        "tags": ["Targets"],
        "description": "Update an existing Scan Target\n\n**Required security scopes for jwt**:\n  * `sto_testtarget_edit`",
        "operationId": "Targets#UpdateTarget",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "orgId",
            "in": "query",
            "description": "Harness Organization ID",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Harness Project ID",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Scan Target to update",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" },
          {
            "name": "UpdateTargetRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TargetsUpdateTargetRequestBody",
              "required": ["created", "lastModified", "name", "type"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/TargetsUpdateTargetResponseBody",
              "required": ["id", "name", "type", "orgId", "projectId", "created", "lastModified"]
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": { "$ref": "#/definitions/TargetsUpdateTargetBadRequestResponseBody", "required": ["message"] }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": { "$ref": "#/definitions/TargetsUpdateTargetUnauthorizedResponseBody", "required": ["message"] }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": { "$ref": "#/definitions/TargetsUpdateTargetForbiddenResponseBody", "required": ["message"] }
          },
          "404": {
            "description": "Not Found response.",
            "schema": { "$ref": "#/definitions/TargetsUpdateTargetNotFoundResponseBody", "required": ["message"] }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/TargetsUpdateTargetInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      },
      "delete": {
        "tags": ["Targets"],
        "description": "Delete an existing Scan Target\n\n**Required security scopes for jwt**:\n  * `sto_testtarget_delete`",
        "operationId": "Targets#DeleteTarget",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "orgId",
            "in": "query",
            "description": "Harness Organization ID",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Harness Project ID",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Scan Target to delete",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" }
        ],
        "responses": {
          "204": { "description": "No Content response." },
          "400": {
            "description": "Bad Request response.",
            "schema": { "$ref": "#/definitions/TargetsDeleteTargetBadRequestResponseBody", "required": ["message"] }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": { "$ref": "#/definitions/TargetsDeleteTargetUnauthorizedResponseBody", "required": ["message"] }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": { "$ref": "#/definitions/TargetsDeleteTargetForbiddenResponseBody", "required": ["message"] }
          },
          "404": {
            "description": "Not Found response.",
            "schema": { "$ref": "#/definitions/TargetsDeleteTargetNotFoundResponseBody", "required": ["message"] }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/TargetsDeleteTargetInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      },
      "patch": {
        "tags": ["Targets"],
        "description": "Update only certain fields on an existing Scan Target\n\n**Required security scopes for jwt**:\n  * `sto_testtarget_edit`",
        "operationId": "Targets#PatchTarget",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "orgId",
            "in": "query",
            "description": "Harness Organization ID",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Harness Project ID",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Scan Target to update",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" },
          {
            "name": "PatchTargetRequestBody",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/TargetsPatchTargetRequestBody" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/TargetsPatchTargetResponseBody",
              "required": ["id", "name", "type", "orgId", "projectId", "created", "lastModified"]
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": { "$ref": "#/definitions/TargetsPatchTargetBadRequestResponseBody", "required": ["message"] }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": { "$ref": "#/definitions/TargetsPatchTargetUnauthorizedResponseBody", "required": ["message"] }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": { "$ref": "#/definitions/TargetsPatchTargetForbiddenResponseBody", "required": ["message"] }
          },
          "404": {
            "description": "Not Found response.",
            "schema": { "$ref": "#/definitions/TargetsPatchTargetNotFoundResponseBody", "required": ["message"] }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/TargetsPatchTargetInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      }
    },
    "/api/v2/targets/{targetId}/variants": {
      "get": {
        "tags": ["Target Variants"],
        "description": "List a collection of Scan Target Variants\n\n**Required security scopes for jwt**:\n  * `sto_testtarget_view`",
        "operationId": "Target Variants#ListTargetVariants",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to fetch (starting from 0)",
            "required": false,
            "type": "integer",
            "default": 0,
            "minimum": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results per page",
            "required": false,
            "type": "integer",
            "default": 30,
            "maximum": 100,
            "minimum": 1
          },
          {
            "name": "targetId",
            "in": "path",
            "description": "Associated Target ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/TargetVariantsListTargetVariantsResponseBody",
              "required": ["results", "pagination"]
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/TargetVariantsListTargetVariantsBadRequestResponseBody",
              "required": ["message"]
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/TargetVariantsListTargetVariantsUnauthorizedResponseBody",
              "required": ["message"]
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/TargetVariantsListTargetVariantsForbiddenResponseBody",
              "required": ["message"]
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/TargetVariantsListTargetVariantsNotFoundResponseBody",
              "required": ["message"]
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/TargetVariantsListTargetVariantsInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      },
      "post": {
        "tags": ["Target Variants"],
        "description": "Create a new Scan Target Variant\n\n**Required security scopes for jwt**:\n  * `sto_testtarget_edit`",
        "operationId": "Target Variants#CreateTargetVariant",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "targetId",
            "in": "path",
            "description": "Associated Target ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" },
          {
            "name": "CreateTargetVariantRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TargetVariantsCreateTargetVariantRequestBody",
              "required": ["parameters", "id", "created", "lastModified"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": { "$ref": "#/definitions/TargetVariantsCreateTargetVariantResponseBody", "required": ["id"] }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/TargetVariantsCreateTargetVariantBadRequestResponseBody",
              "required": ["message"]
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/TargetVariantsCreateTargetVariantUnauthorizedResponseBody",
              "required": ["message"]
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/TargetVariantsCreateTargetVariantForbiddenResponseBody",
              "required": ["message"]
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/TargetVariantsCreateTargetVariantInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      }
    },
    "/api/v2/targets/{targetId}/variants/{id}": {
      "get": {
        "tags": ["Target Variants"],
        "description": "Find Scan Target Variant by ID\n\n**Required security scopes for jwt**:\n  * `sto_testtarget_view`",
        "operationId": "Target Variants#FindTargetVariantById",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "targetId",
            "in": "path",
            "description": "Associated Target ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Scan Target Variant to retrieve",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/TargetVariantsFindTargetVariantByIDResponseBody",
              "required": ["id", "targetId", "parameters", "created", "lastModified"]
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/TargetVariantsFindTargetVariantByIDBadRequestResponseBody",
              "required": ["message"]
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/TargetVariantsFindTargetVariantByIDUnauthorizedResponseBody",
              "required": ["message"]
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/TargetVariantsFindTargetVariantByIDForbiddenResponseBody",
              "required": ["message"]
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/TargetVariantsFindTargetVariantByIDNotFoundResponseBody",
              "required": ["message"]
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/TargetVariantsFindTargetVariantByIDInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
        "security": [{ "jwt_header_Authorization": [] }]
      },
      "put": {
        "tags": ["Target Variants"],
        "description": "Update an existing Scan Target Variant\n\n**Required security scopes for jwt**:\n  * `sto_testtarget_edit`",
        "operationId": "Target Variants#UpdateTargetVariant",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Harness Account ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "targetId",
            "in": "path",
            "description": "Associated Target ID",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Scan Target Variant to update",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{22}$"
          },
          { "name": "Authorization", "in": "header", "description": "Auth token", "required": true, "type": "string" },
          {
            "name": "UpdateTargetVariantRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TargetVariantsUpdateTargetVariantRequestBody",
              "required": ["parameters", "created", "lastModified"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/TargetVariantsUpdateTargetVariantResponseBody",
              "required": ["id", "targetId", "parameters", "created", "lastModified"]
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/TargetVariantsUpdateTargetVariantBadRequestResponseBody",
              "required": ["message"]
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/TargetVariantsUpdateTargetVariantUnauthorizedResponseBody",
              "required": ["message"]
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/TargetVariantsUpdateTargetVariantForbiddenResponseBody",
              "required": ["message"]
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/TargetVariantsUpdateTargetVariantNotFoundResponseBody",
              "required": ["message"]
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/TargetVariantsUpdateTargetVariantInternalServerErrorResponseBody",
              "required": ["message"]
            }
          }
        },
        "schemes": ["https"],
[...]
