/*
 * Copyright 2021 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Free Trial 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/05/PolyForm-Free-Trial-1.0.0.txt.
 */

.masonry {
  min-height: calc(100vh - 146px - 64px - 32px);
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(3, 250px);
  grid-gap: 30px;
  justify-content: center;
  padding: var(--spacing-xxlarge);
}

.pagination {
  padding: 0 var(--spacing-xxxlarge) var(--spacing-large) !important ;
}

.roleRow {
  align-items: center;
}

.assignedCount {
  th,
  td {
    padding-right: var(--spacing-large);
  }
}

.listHeader {
  margin-bottom: 0 !important;
}

.resourceCount {
  background-color: var(--primary-1);
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: inline-block;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
}

.search {
  margin-right: var(--spacing-medium);
}

.listTable {
  padding: 0 var(--spacing-xxlarge);
}

.warning {
  background-color: var(--white) !important;
  box-shadow: var(--card-shadow);
  padding: var(--spacing-small) var(--spacing-xlarge) !important ;
}
