.sectionPerformanceCard {
  width: 462px;
  height: 432px;
  padding: 48px;
  .sectionIcon {
    margin: 40px auto 16px auto;
  }
  .sectionName {
    margin: 40px auto;
  }
  .margin {
    margin: 16px auto !important;
  }
}
