/*
 * Copyright 2021 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.createTemplateDialog {
  width: 875px;
  padding-bottom: 0;
  position: relative;

  &.gitCreateTemplateDialog {
    width: 1160px;
  }
}

.separator {
  width: 1px;
  height: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.subHeaderLeftView {
  .templateName {
    font-size: 20px !important;
    text-overflow: ellipsis;
    white-space: nowrap !important;
    max-width: 240px;
    overflow: hidden;

    &.shortened {
      max-width: 140px;
    }
    @media only screen and (max-width: 1500px) {
      max-width: 120px;
    }
  }

  .dropdown {
    :global(.bp3-menu) {
      max-width: 300px;
    }
  }

  .versionDropDown {
    :global(.DropDown--dropdownButton) {
      background-color: transparent !important;
      border-color: var(--primary-6) !important;
      height: 30px;
      min-width: var(--spacing-11) !important;
      max-width: 140px;
      column-gap: var(--spacing-4) !important;
    }
    :global(.DropDown--label) p {
      color: var(--primary-7) !important;
    }
    :global(.DropDown--btnWrapper) {
      svg {
        color: var(--primary-7);
      }
    }
  }
}

.gitBtn {
  gap: var(--spacing-2);
  max-height: var(--spacing-8) !important;
  :global {
    .bp3-button {
      min-height: unset !important;
      min-width: unset !important;
      height: var(--spacing-5) !important;
      width: var(--spacing-5) !important;
    }
  }
}

.cacheIcon {
  padding: var(--spacing-1);
}

.yamlVersionBadge {
  margin-right: var(--spacing-small);
}
