/*
 * Copyright 2022 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */
.scheduleFreezeForm {
  :global {
    .RadioButton--radio {
      display: flex;
      align-items: baseline;
      flex-shrink: auto;
    }

    .bp3-form-content {
      .RadioButton--radio .bp3-form-group {
        width: 100%;
      }
    }
  }

  .endTime {
    flex-shrink: 1;
    width: 100%;

    .text {
      white-space: nowrap;
    }
  }
}
