/*
 * Copyright 2023 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.editServiceDialog {
  :global {
    width: 800px;
    height: fit-content;

    .ModalDialog--body {
      padding: 0 !important;
      width: 800px;

      [class*='ServiceConfiguration-module_serviceEntity'] {
        width: 700px;
      }

      &::before,
      &::after {
        margin: 0 !important;
      }
    }

    .ModalDialog--bodyContent {
      padding: 0 !important;
    }
  }

  overflow: hidden;
}

.editEnvDialog {
  :global {
    .ModalDialog--body {
      padding: 0 !important;

      &::before,
      &::after {
        margin: 0 !important;
      }
    }

    .ModalDialog--bodyContent {
      padding: 0 !important;
    }
  }

  overflow: hidden;
}

.multiSelectEnvDropdown {
  :global {
    .bp3-form-content > div:first-child {
      width: 400px !important;
      box-shadow: none !important;
      color: var(--grey-800) !important;
      height: 32px !important;
      position: relative;
      background-color: var(--white) !important;
      display: flex;
      justify-content: space-between;
      border-radius: var(--spacing-2);
      cursor: pointer;
      align-items: center !important;
      p {
        max-height: 32px;
        text-decoration: none !important;
        letter-spacing: 0.4px;
        line-height: 20px !important;
        color: var(--grey-350) !important;
      }

      div[class*='groupedReferences'] > div {
        padding: 0px 5px !important;
        align-self: self-end !important;
      }
    }
  }
}
