.editIcon {
  background: var(--primary) !important;
  color: white !important;
  padding: var(--spacing-1) !important;
  border-radius: 20px !important;
  svg {
    padding: 3px !important;
  }
}

.iconNoBorder {
  margin: 0 var(--spacing-small) !important;
}
