/*
 * Copyright 2021 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.contentSection {
  padding: var(--spacing-xxlarge);
}

.stageTypeThumbnail {
  margin: var(--spacing-medium) 0 0 0;
  min-width: 400px;
}

.addStageHeading {
  color: var(--grey-800) !important;
  font-weight: 600 !important;
  line-height: var(--spacing-7) !important;
  padding-bottom: var(--spacing-medium) !important;
}

.nameIdDescriptionTags {
  margin-bottom: var(--spacing-7) !important;
}
.deploymentType {
  margin-bottom: var(--spacing-medium);
}
.gitOpsCheck {
  color: var(--grey-700) !important;
  font-size: var(--font-size-small) !important;
  margin-top: var(--spacing-medium);
}
.templateBarOverride {
  background: var(--primary-1) !important;
  border: 1px solid var(--primary-5) !important;
  padding: var(--spacing-2) var(--spacing-4) !important;
  color: var(--black) !important;
  width: 100% !important;

  :global(p) {
    color: var(--black) !important;
  }

  span[data-icon='template-library'] {
    color: var(--primary-5) !important;
  }

  svg[data-icon='more'] {
    color: var(--grey-400) !important;
  }
}

.halfWidthBar {
  width: 50% !important;
}

.zeroMargin {
  margin: 0 !important;
}
