/*
 * Copyright 2021 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.container {
  flex-grow: 1;
}

.listHeader {
  border-bottom: 1px solid var(--grey-300) !important;
}

.listStateContainer {
  position: relative;
  height: calc(var(--page-min-height) * 0.5);
}

.timeRangeSelector {
  position: absolute;
  left: 40%;
  justify-content: center;
}

.separator {
  width: 100%;
  border-bottom: 1px solid var(--grey-200);
}

.searchIcon {
  margin-right: var(--spacing-medium);
  & > input:focus {
    width: 232px !important;
  }
}
.padding-top {
  padding-top: var(--spacing-large) !important;
}

.subHeader {
  position: sticky;
  top: 0;
  z-index: 3;
  border: none;
  box-shadow: var(--elevation-2);
  margin-bottom: var(--spacing-large) !important;
}

.table {
  padding: var(--spacing-large);
}

.dialog {
  padding-top: 36px !important;
  position: relative;
  width: 800px !important;

  > div[class*='bp3-dialog-header'] {
    margin: 0px 0px 6px !important;
    width: 330px;
  }
  > div[class*='StyledProps--padding-none'] {
    overflow: inherit;
  }
}
