.commandType {
  width: 240px;
  margin-right: var(--spacing-xxlarge);
  :global {
    .bp3-label {
      margin: var(--spacing-small) 0px;
    }
  }
}

.commandFlagType {
  margin-top: 31px;
}

.terraformCommandFlags {
  :global(.bp3-popover-wrapper) {
    margin-left: 0 !important;
  }
}
.commandTypeSelect {
  & :global(.bp3-menu) {
    max-height: 250px;
  }
}

.delBtn {
  margin-top: var(--spacing-medium) !important;
}
