.supportTemplateImport {
  :global {
    .bp3-menu {
      li:first-child {
        border-bottom: 1px solid var(--grey-300);
      }
    }
  }
}

.configDialog {
  width: 1160px;
  padding-bottom: 0;
  overflow: hidden;
  position: relative;
}
