.usefulOrNot {
  --typography-size: 12px;

  .voteButton {
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover:enabled {
      color: var(--primary-7);
    }
  }

  .votedUp {
    font-weight: bold;
  }

  .votedDown {
    font-weight: bold;
  }
}
