/*
 * Copyright 2021 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.wrapper {
  // 96px is ExtendedPageHeader's height
  // 56px is Tabs's height
  // --spacing-huge * 2 is top + bottom margins
  height: calc(100vh - 96px - 56px - var(--spacing-xxxlarge) * 2);
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
  margin-top: var(--spacing-xxxlarge);
  margin-bottom: var(--spacing-xxxlarge);

  ul[class*='bp3-menu'] {
    position: relative;
    left: -5px;
  }
}

.emptyArtifacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-huge) !important;
  p {
    margin-top: var(--spacing-medium) !important;
  }
}

.stageSelector {
  width: 300px !important;
}

.subSection {
  background-color: var(--primary-1);
  border: 1px solid var(--primary-2);
  padding: var(--spacing-small) var(--spacing-large);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
