/*
 * Copyright 2023 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.container {
  width: 400px;
  min-height: 300px;
  max-height: 80vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  .header {
    background: var(--ai-purple-700);
    color: var(--white);
    padding: var(--spacing-small);
    border-bottom: 1px solid var(--ai-purple-400);
    text-align: center;
  }

  .errorLink {
    color: var(--ai-purple-900);
  }

  .votedUp svg {
    color: var(--green-800);
  }

  .votedDown svg {
    color: var(--red-800);
  }

  .messagesContainer {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 var(--spacing-small);

    .messageContainer {
      margin: var(--spacing-medium) 0;
      display: flex;
      align-items: end;

      .aidaIcon {
        z-index: 2;
      }

      .message {
        padding: 10px 20px;
        margin: 0 5px;
        display: inline-block;
        max-width: 80%;
        border-radius: 25px;
        position: relative;
        line-height: 21px;
        word-wrap: break-word;

        &:before,
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          height: 25px;
        }

        &.user {
          background: var(--ai-purple-700);
          color: var(--white);

          &:before {
            right: -7px;
            width: 20px;
            background-color: var(--ai-purple-700);
            border-bottom-left-radius: 16px 14px;
          }

          &:after {
            right: -26px;
            width: 26px;
            background-color: var(--white);
            border-bottom-left-radius: 10px;
          }
        }
        &.harness {
          background: var(--ai-purple-200);
          color: var(--ai-purple-900);

          &:before {
            left: -7px;
            width: 20px;
            background-color: var(--ai-purple-200);
            border-bottom-right-radius: 16px;
          }

          &:after {
            left: -26px;
            width: 26px;
            background-color: var(--white);
            border-bottom-right-radius: 10px;
          }
        }
        &.loader {
          padding: 16px 32px;
        }
      }

      &.right {
        justify-content: right;
      }
      &.left {
        justify-content: left;
      }
    }
  }

  .inputContainer {
    padding: var(--spacing-small);

    .input {
      width: 100%;
      padding: 0 15px;
      border-radius: 25px;
      resize: none;
      min-height: 42px;
      border: 1px solid var(--grey-500);
    }

    .submitButton {
      border: 1px solid var(--grey-500);
      color: var(--white);
      height: 42px;
      width: 47px;
      border-radius: 50%;
    }
  }
}

.dotflashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--white);
  color: var(--white);
  animation: dotflashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.dotflashing::before,
.dotflashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}
.dotflashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--white);
  color: var(--white);
  animation: dotflashing 1s infinite alternate;
  animation-delay: 0s;
}
.dotflashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--white);
  color: var(--white);
  animation: dotflashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotflashing {
  0% {
    background-color: var(--white);
  }
  50%,
  100% {
    background-color: rgba(255, 255, 255, 0.4);
  }
}
