.drawerCloseButton:global(.bp3-button.bp3-minimal) {
  position: absolute;
  right: 100%;
  top: 0;
  background: var(--primary-5) !important;
  opacity: 0.5;
  color: var(--white) !important;
  border-radius: 4px 0 0 4px !important;
  padding: 0 !important;
}

.table {
  padding: var(--spacing-large);

  [role='cell'],
  [role='columnheader'] {
    width: auto !important;
    padding-right: var(--spacing-small);
  }

  div[class*='TableV2--cells'],
  div[class*='TableV2--header'] {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 2fr;
  }
}

.subHeader {
  background-color: var(--primary-1);
  border: 1px solid var(--primary-2);
  padding: var(--spacing-small) var(--spacing-large);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
