/*
 * Copyright 2023 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.envCards {
  min-width: 240px;
  height: 200px;
  margin: var(--spacing-6) !important;
  padding: 32px var(--spacing-5) var(--spacing-5) var(--spacing-5) !important;
  border: none !important;
  display: flex !important;
  flex-direction: column;

  .envCardTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.headerTile {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  width: 150px;
  height: 20px;
  background: var(--blue-100);
  text-align: center;
  line-height: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-9);
  clip-path: polygon(0 0, 100% 0, calc(100% - var(--spacing-xlarge)) 100%, var(--spacing-xlarge) 100%);
  letter-spacing: 2px;
  font-size: 10px;
  border-top: 1px solid var(--blue-100);
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--blue-50);
    color: var(--primary-9);
    z-index: -1;
    clip-path: polygon(
      2px 0,
      calc(100% - 2px) 0,
      calc(100% - var(--spacing-xlarge) - 1px) calc(100% - 1px),
      calc(var(--spacing-xlarge) + 1px) calc(100% - 1px)
    );
  }
}

.cursor {
  cursor: pointer;
}
.titleStyle {
  padding: var(--spacing-large) var(--spacing-large) 0;
  padding-right: var(--spacing-10);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleText {
  padding: var(--spacing-large) var(--spacing-large) 0 !important;
}

.environmentType {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  height: 18px;
  padding: var(--spacing-2) var(--spacing-3) !important;
  background-color: var(--teal-50) !important;
  color: var(--teal-700) !important;
  font-weight: bold !important;
  letter-spacing: 0.2px;
  line-height: var(--font-size-normal) !important;
  white-space: nowrap !important;
  border: none;
  border-radius: var(--spacing-10);
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  font-size: 10px !important;
  font-weight: 700 !important;
  line-height: 15px !important;

  &.production {
    background-color: var(--purple-50) !important;
    color: var(--purple-700) !important;
  }
}

.instanceCountStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px !important;
  margin-bottom: var(--spacing-6) !important;
  p {
    padding-left: 6px !important;
    &:hover {
      text-decoration: underline;
    }
  }
}

.slideStyle {
  padding-left: var(--spacing-9);
  padding-right: 18px !important;
}

.paddingLeft12 {
  padding-left: var(--spacing-4);
}

.envCardGrid {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  :nth-child(1) {
    margin-left: var(--layout-spacing) !important;
  }
}

.prevButton {
  position: absolute;
  left: 0px;
  z-index: 1;
  top: 90px;
}

.nextButton {
  position: absolute;
  right: 0px;
  z-index: 1;
  top: 90px;
}

.pillToggle {
  height: var(--spacing-7);
  margin-left: var(--spacing-4);
  background-color: var(--grey-100);
  border: 1px solid var(--grey-300) !important;
  border-radius: var(--spacing-2) !important;

  > div[class*='PillToggle--item'] {
    color: var(--grey-400);
    display: flex;
    align-items: center;
    padding: var(--spacing-3);
  }

  > div[class*='selected'] {
    background-color: var(--primary-1);
    color: var(--primary-6);
    border: 1px solid var(--primary-6);
    height: var(--spacing-7);
    margin-left: -1px;
    margin-right: -1px;
  }

  :global(.PillToggle--item) {
    width: 100px !important;
    text-transform: uppercase;
    border-radius: var(--spacing-2) !important;
  }

  div[data-name='toggle-option-two'] {
    width: 80px !important;
    padding-left: var(--spacing-4);
  }
}

.envCardViewEmptyState {
  height: 250px;
  box-shadow: var(--elevation-2);
  border-radius: var(--spacing-2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--grey-0) !important;
  margin: var(--spacing-6) !important;

  p {
    margin-top: var(--spacing-7) !important;
  }
}

.dialogBase {
  min-width: 1450px;
  min-height: 900px;
  padding: 0 !important;
}

.dialogWrap {
  display: grid;
  grid-template-columns: 1fr 0.85fr 5px;
}

.detailSummaryView {
  min-height: 900px;
  padding: var(--spacing-7) !important;
  z-index: 1;
  box-shadow: 0px 0px 1px rgb(40 41 61 / 4%), 0px var(--spacing-1) var(--spacing-2) rgb(96 97 112 / 16%);
}

.searchIconStyle {
  height: var(--spacing-8);
  & > input:focus {
    width: 200px !important;
  }
}

.fullViewTableStyle {
  width: 100%;
  padding-top: var(--spacing-4);
  max-height: 730px;

  div[class*='TableV2--body'] {
    overflow: auto;
    max-height: 670px;
    padding-top: var(--spacing-3);

    p {
      font-size: var(--font-size-small);
    }

    div[role='row'] {
      box-shadow: none;
      padding: 0;
      padding: 6px var(--spacing-5) 6px 0;
      margin: 0 0 var(--spacing-2) 0;
    }
    > :nth-child(odd) {
      background: rgba(243, 243, 250, 0.7);
    }

    div[class*='TableV2--cells'] {
      height: var(--spacing-7);

      div[class*='TableV2--cell']:nth-child(2) {
        span[class*='bp3-popover'] {
          width: 100%;
        }
      }
    }
  }

  div[class*='TableV2--header'] {
    padding-left: var(--spacing-1);
    padding-top: var(--spacing-4);
    border-bottom: 1px solid var(--grey-200);
    padding-bottom: var(--spacing-3);

    p {
      font-size: 11px !important;
      color: var(--grey-600) !important;
    }
  }
}

.envColumnStyle {
  font-size: var(--font-size-small) !important;
  color: var(--grey-800) !important;
  margin-right: var(--spacing-3) !important;
  padding-left: var(--spacing-1) !important;
}

.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.separatorStyle {
  margin-top: 14px;
  border-top: 1px solid var(--grey-200);
}

.instanceDetailView {
  min-height: 900px;
  background-color: var(--primary-bg) !important;
  padding: var(--spacing-9) 18px var(--spacing-8) var(--spacing-7) !important;

  .instanceDetailTitle {
    font-weight: 600 !important;
    font-size: var(--font-size-normal);
    color: var(--grey-1000) !important;
  }
}

.instanceViewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--spacing-4) !important;
}

.pipelineExecCardStyle {
  width: 120px;
  height: 62px;
  padding: var(--spacing-4) !important;
  margin-bottom: var(--spacing-3);
  cursor: pointer;
}

.pipelineIdTitle {
  p {
    font-weight: 600 !important;
    font-size: 13px !important;
    line-height: 16px !important;
  }
  margin-bottom: var(--spacing-3) !important;
}

.collapse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: var(--spacing-4);
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
  border-radius: var(--spacing-2);
  background-color: var(--grey-0);
  border-top: none;
  margin-bottom: var(--spacing-3);
}

.instanceDetail {
  display: grid !important;
  grid-template-columns: 22% 78%;
  margin-top: var(--spacing-7) !important;
}

.activeInstanceStyle {
  &:not(:first-child) {
    padding-top: var(--spacing-medium) !important;
  }
  &:not(:last-child) {
    padding-bottom: var(--spacing-medium) !important;
    border-bottom: 1px solid var(--grey-100);
  }
}

.sectionValue {
  word-break: break-all;
}

.selected {
  border: 1px solid var(--primary-7) !important;
  background: var(--primary-1) !important;
}

.overflowScroll {
  overflow: auto;
  max-height: 630px;
}

.openExecBtn {
  --border: 1px solid var(--primary-7) !important;
  margin-bottom: var(--spacing-5) !important;
  width: 150px;
}

.marginBottom12 {
  margin-bottom: var(--spacing-4) !important;
}

.collapseHeader {
  :global(.bp3-icon) {
    color: var(--grey-700) !important;
    margin-right: 9px;
  }
}

.artifactCardGrid {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;

  :nth-child(1) {
    margin-left: var(--layout-spacing) !important;
  }
}

.artifactCards {
  height: 200px;
  margin: var(--spacing-6) !important;
  padding: var(--spacing-5) !important;
}

.artifactViewEnvList {
  margin-top: var(--spacing-4);
  height: 100px;
  overflow: auto;
}

.artifactViewEnvDetail {
  display: grid !important;
  grid-template-columns: 1fr max-content;
  column-gap: var(--spacing-3);
  align-items: center;
  height: var(--spacing-8);

  p[id='groupLabel'] {
    border-color: var(--primary-2) !important;
  }
}

.hoverUnderline {
  &:hover {
    text-decoration: underline;
  }
}

.openTaskBannerStyle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: var(--orange-50) !important;
  padding-left: var(--spacing-5) !important;
  padding-right: var(--spacing-5) !important;
}

.overflowOpenTasks {
  overflow: auto;
  height: calc(100vh - 140px);
}

.openTasksBgColor {
  background-color: var(--primary-bg) !important;
}

.openTaskEmptyState {
  height: 850px;
  border: 1px solid var(--grey-200);
  border-radius: var(--spacing-2);
  background-color: var(--grey-0) !important;
}

.overflowScrollPipelineIdList {
  overflow: auto;
  max-height: 680px;
}

.driftPopover {
  :global {
    .bp3-popover-arrow-fill {
      fill: var(--primary-9-dark) !important;
    }
    .bp3-popover-content {
      background-color: var(--primary-9-dark) !important;
    }
  }
  border-radius: 8px;
}

.driftTable {
  width: 450px;
  padding: 12px !important;
  background-color: var(--primary-9-dark) !important;
  border-radius: 8px;

  div[class*='TableV2--header'] {
    p {
      color: var(--grey-300) !important;
    }
    padding-bottom: var(--spacing-3);
  }

  div[class*='TableV2--body'] {
    max-height: 400px;
    overflow: auto;
    div[class*='TableV2--row'] {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 4px;
    }
    div[class*='TableV2--cells'] {
      height: 0;
    }
  }
}

.envGroupStyle {
  font-size: var(--font-size-small) !important;
  color: var(--grey-800) !important;
  padding-left: var(--spacing-1) !important;
  max-width: 140px;
}

.envGroupContainer {
  display: grid;
  grid-template-columns: minmax(0, max-content) minmax(0, 40px);
  align-items: center;
  justify-content: flex-start;
  grid-auto-flow: column;
  grid-column-gap: 4px;
}

.envGroupSeparator {
  margin-top: 4px;
  margin-bottom: 6px;
  border-top: 1px solid var(--grey-200);
}

.envGroupTooltip {
  padding: var(--spacing-5) !important;
  width: 240px;

  div[id='envGrpText'] {
    max-height: 400px;
    overflow: auto;
  }
}

.rollbackActionIcon {
  background: var(--grey-100) !important;
  border: 0.5px solid var(--grey-300);
  border-radius: 4px;
  padding: var(--spacing-1) !important;
  display: flex;
  align-items: center;
  margin-left: var(--spacing-4) !important;
  cursor: pointer;
}

.searchWithRollbackBtn {
  display: grid !important;
  grid-template-columns: 1fr 100px;
  gap: 12px;
  align-items: center;
}
.noRollbackBtn {
  display: grid !important;
  grid-template-columns: 1fr;
}

.lastDeployedText {
  display: flex;
  gap: 3px;
}

.switch {
  margin-bottom: 0 !important;
}

.envCardViewHeaderLhs {
  display: flex;
  align-items: center;
}

.customSeqIcon {
  border-left: 1px solid var(--grey-200);
  padding-left: 6px !important;
  margin-left: var(--spacing-2) !important;

  svg path {
    fill: var(--primary-7) !important;
  }
  cursor: pointer;
}

.customSeq {
  padding: var(--spacing-2) var(--spacing-3) !important;
  border: 1px solid var(--grey-200);
  border-radius: var(--spacing-2);
  margin-left: var(--spacing-4) !important;
}
